b{
    font-weight: bolder;
}

p b{
    font-weight: bolder;
}

.default-body{
    background: #2b2b2b;
    color: #d0d0d0;
}

.content-arranger{
    padding: 20px;
}

.default-link{
    text-decoration: none;
    color: #60c25d;
}

.code-block{
  background: #222;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.code-text{
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre-line;
    font-family: "Cascadia Code";
    font-size: small;
    font-weight: initial;
    color: white;
}

.stick-to-top{
    position: sticky;
    top: 0;
}