{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#simple" class="default-link">Простые методы</a></li>
        <li><a href="#hard" class="default-link">Сложные методы - методы с условиями</a></li>
    </ul>

{% endblock %}


{% block previousPage %} {% url 'trycatch' %} {% endblock %}
{% block nextPage %} {% url 'ternar' %} {% endblock %}


{% block main_info %}
    <h2>LINQ запросы с коллекциями</h2>

    <p>Для работы с коллекциями у нас есть много разных методов, которые смогут облегчить нам жизнь. При помощи них мы
        можем делать выборку, находить минимальное\максимальное значение, перебирать цикл и много многое многое еще.
        Есть простые методы, где ничего дополнительного не нужно писать, а есть сложные - с условиями внутри </p>


    <hr id="simple"/>
    <h4>Простые методы</h4>
    <p>Зацепимся за нахождение минимального числа. Возьмем какой-нибудь массив с числами </p>
    <div class="code-block">
        <p class="code-text">int[] massive = new[] { 6, 3, 8, 12, 0, -4, 4 };</p>
    </div>
    <p>Для нахождения минимума, нам нужно перебрать каждое число - если оно меньше, чем последнее записанное в
        переменную, то записать в переменную его </p>
    <div class="code-block">
        <p class="code-text">int[] massive = new[] { 6, 3, 8, 12, 0, -4, 4 };

            int min = massive[0];
            foreach (int i in massive)
            {
            &nbsp; &nbsp; if (i < min)
            &nbsp; &nbsp; &nbsp; &nbsp; min = i;
            }

            Console.WriteLine(min);</p>
    </div>
    <p>Чтобы найти минимальное число, нам не нужно будет перебирать всю коллекцию и пытаться сохранить что-то в
        переменную. Вместо этого мы можем напрямую использовать метод Min() из библиотеки System.Linq! </p>
    <p>Я хочу найти минимальное число. Для этого я хочу использовать свой массив, а именно, метод Min(). Помним, что
        видим «а именно», ставим точку. Таким образом, наша структура будет выглядеть вот так </p>
    <img src="{% static 'img/charp/10_linq/1_schemelinq.png' %}" alt="Схема LINQ запроса"/>
    <p>А нахождение минимального числа – вот так. Вместо всего кода, показанного выше, мы воспользуемся одним
        методом! </p>
    <div class="code-block">
        <p class="code-text">massive.Min();</p>
    </div>
    <p>Однако изначально на методе Min будет висеть следующая ошибка. Она говорит нам о том, что не подключена
        необходимая библиотека для этих методов</p>
    <img src="{% static 'img/charp/10_linq/2_minerror.png' %}" alt="Ошибка при использовании Min"/>
    <p><b>Алгоритм простой: если в ошибке написано «возможно пропущена директива using или ссылка на сборку», нажимаем
        на этот метод и нажимаем alt+enter (options + enter на маке) или ПКМ – «Быстрые действия и рефакторинг».
        Выбираем самую первую строчку, которая добавит нам нужную библиотеку вверх файла, и работаем дальше </b></p>
    <img src="{% static 'img/charp/10_linq/3_using.png' %}" alt="Добавление библиотеки"/>

    <p>Метод Min() вернет нам какое-то значение из нашего массива. Это значение нам нужно сохранить в переменной, если
        мы хотим с ним в будущем работать. Как понять, какой мне нужен тип данных для ее хранения? </p>
    <p>Min() возвращает минимальный элемент массива. У нас массив интовый, значит и все элементы массива будут интовые.
        Сохраню значение в переменную min и выведу ее на консоль </p>
    <div class="code-block">
        <p class="code-text">int[] massive = new[] { 6, 3, 8, 12, 0, -4, 4 };

            int min = massive.Min();
            Console.WriteLine(min); </p>
    </div>
    <img src="{% static 'img/charp/10_linq/4_consoleresult.png' %}" alt="Результат работы кода"/>
    <p>Еще проще можно понять тип данных, просто наведя на метод. Первое слово, которое мы увидим - тип данных
        переменной, которую нужно создать, в данном случае, int</p>
    <img src="{% static 'img/charp/10_linq/5_neededtype.png' %}" alt="Нужный тип данных"/>
    <p>Подобно методу Min(), есть также следующие <b>простые методы:</b></p>
    <ul>
        <li>Max(); - максимальное</li>
        <li>Sum(); - сумма элементов</li>
        <li>Count(); - количество элементов (размер коллекции)</li>
        <li>Average(); - среднее значение</li>
        <li>First(); - первый элемент коллекции. Если его нет – ошибка.</li>
        <li>FirstOrDefault(); - первый элемент коллекции. Если его нет – Null, пустота.</li>
        <li>Last(); - последний элемент коллекции. Если его нет – ошибка.</li>
        <li>LastOrDefault(); - последний элемент коллекции. Если его нет – Null, пустота.</li>
    </ul>
    <p>Существуют не только они, есть еще много других методов. Их вы можете увидеть, если после массива нажмете на
        точку и в появившемся контекстном меню полистаете методы. Попробуйте в следующем коде заменит Min на различные
        методы, которые перечислены выше, и посмотрите на результат! </p>
    <p>Все, что перечислено выше - простые методы, где мы просто берем, пишем название и все. Кроме того, чтобы просто
        брать значения, мы можем еще взять значения по условию - взять минимальное только тех чисел, что ниже нуля,
        посчитать количество единиц и так далее. Давайте назовем такие методы сложными </p>




    <hr id="hard"/>
    <h4>Сложные методы</h4>
    <p>Давайте возьмем другой массив </p>
    <div class="code-block">
        <p class="code-text">int[] massive = new[] { 1, 1, 2, 4, 1, 6 };</p>
    </div>
    <p>Например, я хочу сделать выборку – взять элементы массива, которые не равны единице. При выборке, я жду новый
        массив, более мелкий, поэтому и сохраню значение я в переменную с типом данных массива. Для этого я могу
        использовать метод Where();. Однако, если я напишу его просто так, я не пойму, по какому принципу мне нужно
        сделать выборку своего массива? Как код поймет, что мне нужно то, что не равно единице? </p>
    <img src="{% static 'img/charp/10_linq/6_startofwhere.png' %}" alt="Начало метода Where, без условия"/>
    <p>Для того, чтобы сделать условие, давайте вспомним про цикл foreach. Как бы я поступила, если бы не знала про
        Linq? </p>
    <img src="{% static 'img/charp/10_linq/7_cycleinsteadlinq.png' %}" alt="Цикл, описывающий перебор"/>
    <p>Если внутри foreach мы каждый наш элемент храним в переменной item, то и для where нам нужна эта переменная,
        которую мы будем проверять на условие. Имя переменной может быть любым, хоть <b>item</b>, хоть <b>x</b>, хоть
        <b>dkfjskldjfs</b>.
        Впишем ее внутрь круглых скобок. </p>
    <p>Затем нарисуем некую стрелочку =>. С помощью нее, мы связываем переменную слева и условие справа, мол, для вот
        этой переменной есть следующее (=>) условие </p>
    <p>Дальше идет условие. Как и внутри if, после этой стрелочки может идти много разных условий, объединенных && или
        ||. </p>
    <img src="{% static 'img/charp/10_linq/8_wherewithif.png' %}" alt="Where с условием"/>
    <p>Однако сейчас наш код выдает нам ошибку – что не так? Дело в том, что Where выдает нам какую-то коллекцию, а мы
        хотим от него <b>определенную</b> коллекцию, а именно массив (т.к. тип данный слева у нас массив. Если бы был
        лист, мы
        бы хотели от него получить лист). Чтобы явно сказать ему что мы от него хотим, поставим в конце точку и напишем,
        что мы хотим преобразовать его в массив. </p>
    <p>Итого, мы можем теперь работать с нашей выборкой </p>
    <div class="code-block">
        <p class="code-text">int[] massive = new int[6] { 1, 1, 2, 4, 1, 6 };

            int[] newMassive = massive.Where(item => item != 1).ToArray(); //новый массив { 2, 4, 6 };</p>
    </div>
    <p>Чтобы запомнить, что это за стрелочка, и как эта запись работает, можно расписать метод вот так: </p>
    <img src="{% static 'img/charp/10_linq/9_wherestructure.png' %}" alt="Структура Where и сложного метода"/>
    <p>Подобно методу Where(), условия можно поставить почти в любой метод Linq, тогда они станут <b>сложными</b>. Я
        добавлю ниже примеры их использования: </p>

    <ul>
        <li>OrderBy(); - сортировка по возрастанию</li>
        <li>OrderByDescending(); - сортировка по убыванию
            <div class="code-block">
                <p class="code-text">int[] massive = new int[6] { 1, 1, 2, 4, 1, 6 };

                    //идентично для OrderBy
                    int[] newMassive = massive.OrderByDescending(x => x).ToArray(); //новый массив { 6,4,2,1,1,1 };</p>
            </div>
        </li>
        <li>All(); - все ли элементы коллекции удовлеворяют условию
            <div class="code-block">
                <p class="code-text">int[] massive = new int[6] { 1, 1, 2, 4, 1, 6 };

                    bool isAllOne = massive.All(x => x == 1); //false, не все элементы единица</p>
            </div>
        </li>
        <li>Any(); - удовлетворяет ли хотя бы 1 элемент условию
            <div class="code-block">
                <p class="code-text">int[] massive = new int[6] { 1, 1, 2, 4, 1, 6 };

                    bool isAllOne = massive.Any(x => x > 2); //true, есть пару чисел больше двух</p>
            </div>
        </li>
    </ul>

    <p>Также, в простых методах тоже можно использовать эти внутренние условия: </p>
    <ul>
        <li>First(); - первый элемент коллекции. Если его нет – ошибка.</li>
        <li>FirstOrDefault(); - первый элемент коллекции. Если его нет – Null, пустота.
            <div class="code-block">
                <p class="code-text">int[] massive = new int[7] { 1, 1, 2, 4, -2, 1, 6 };

                    //идентично для First
                    int item = massive.First0rDefault(x => x < 0); //-2, первый элемент, который меньше нуля</p>
            </div>
        </li>
        <li>Last(); - последний элемент коллекции. Если его нет – ошибка.</li>
        <li>LastOrDefault(); - последний элемент коллекции. Если его нет – Null, пустота.
            <div class="code-block">
                <p class="code-text">int[] massive = new int[7] { 1, 1, 2, 4, 2, 1, 6 };

                    //Last выдаст ошибку и закроет программу
                    int item = massive.LastOrDefault(x => x < 0); //null, пустота. Такого элемента нет</p>
            </div>
        </li>
        <li>Count(); - количество элементов (размер коллекции)
            <div class="code-block">
                <p class="code-text">int[] massive = new[] { 1, 1, 2, 4, 1, 6 };

                    int count = massive.Count(item => item == 1); // 3, так как 3 единицы</p>
            </div>
        </li>
    </ul>
    <p>В листах есть даже больше методов! С их помощью можно делать как все старые действия, так и новые, например,
        убирать или добавлять элементы по условию. </p>
    <div class="code-block">
        <p class="code-text">List&lt;int&gt; list = new() { 1, 1, 2, 4, 1, 6 };

            list.RemoveAll(item => item == 1);</p>
    </div>
    <p>Вот список некоторых методов, которые добавляются при использовании листа </p>
    <ul>
        <li>AddRange - добавляет несколько элементов в лист</li>
        <li>RemoveAll - убирает элементы согласно условию</li>
    </ul>
    <p>Попробуйте использовать эти методы на коде и подставить различные условия, чтобы посмотреть, что получится по
        итогу! </p>
{% endblock %}