{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#nullbridge" class="default-link">Продолжения действия только если слева не null - ?</a></li>
        <li><a href="#nullcheck" class="default-link">Проверка на пустоту - ??</a></li>
        <li><a href="#shortif" class="default-link">Сокращение if - ? :</a></li>
        <li><a href="#result" class="default-link">Итог</a></li>
    </ul>

{% endblock %}


{% block previousPage %} {% url 'linq' %} {% endblock %}
{% block nextPage %} {% url 'regex' %} {% endblock %}


{% block main_info %}
    <h2>Тернарные выражения, проверки на пустоту </h2>
    <p>Вы могли заметить, что мы все больше и больше стараемся сократить наш код – делим код на универсальные блоки,
        используем классы, в каких-то моментах убираем фигурные скобки из условий и циклов. Сегодня мы научимся делать
        быстрые проверки на пустоту и сокращать простые одностроные if/else, реализуя их не на 8 строк, а на одну </p>
    <p>Начнем с простых проверок на пустоту. </p>


    <hr id="nullbridge"/>
    <h4>Продолжения действия только если слева не null</h4>
    <p>Что, если у нашей переменной нет никакого первоначального значения? Что, если она ничему не равна? Например, у
        меня есть вот такие две простые переменные </p>
    <img class="mw-100" src="{% static 'img/charp/11_ternar/1_variables.png' %}" alt="Две переменные типа данных int и string"/>
    <p>Мы понимаем, что внутри них нет значений, однако коду это тоже нужно как-то обозначить. Для этого, в
        программировании есть значение по умолчанию – пустота, null. Для всех типов данных (КРОМЕ ЧИСЛОВЫХ), если внутри
        нее нет значения, у нее будет значение null. Подробнее об этом можете посмотреть в статье про
        <a href="{% url 'variables' %}" class="default-link">переменные</a></p>
    <p>В случае числовых типов данных, значение по умолчанию – 0. С помощью отладки я посмотрю, что находится внутри
        моих переменных, и увижу пустое значение </p>
    <img class="mw-100" src="{% static 'img/charp/11_ternar/2_valueinvariables.png' %}" alt="Значения внутри переменных"/>
    <p>Кроме того, что после равно может ничего не быть, бывают случаи, когда код нам возвращает пустоту. Например,
        методы или Linq запросы могут возвращать null. Например, в этом Linq запросе код не нашел элемент, который равен
        «Нулевой», и вернул значение по умолчанию – null </p>
    <img class="mw-100" src="{% static 'img/charp/11_ternar/3_returnsnull.png' %}" alt="FirstOrDefault вернул null"/>
    <p>Или вот, я создала метод, который будет возвращать текст или null. Если условие не подходит, мы возвращаем null.
        Я вызвала метод, txt у меня равен «не текст», а значит условие неверно и в переменной будет Null </p>
    <div class="code-block">
        <p class="code-text">string ReturnTextOrNull(string txt)
            {
            &nbsp; &nbsp; if (txt == "текст")
            &nbsp; &nbsp; &nbsp; &nbsp; return txt;
            &nbsp; &nbsp; else
            &nbsp; &nbsp; &nbsp; &nbsp; return null;
            }

            string notFound = ReturnTextOrNull("не текст");</p>
    </div>
    <img class="mw-100" src="{% static 'img/charp/11_ternar/4_notfoundnull.png' %}" alt="Метод вернул null"/>
    <p><b>ВАЖНО – если у меня переменная null, тогда я не могу делать с ней никакие операции </b></p>
    <p>Например, я захотела вызвать метод ToString() к этой переменной, но она была null. Тогда, код покажет мне
        ошибку</p>
    <img class="mw-100" src="{% static 'img/charp/11_ternar/5_nullerror.png' %}" alt="Ничего нельзя сделать если переменная null"/>
    <p>Значит, мне нужно реализовать проверку на то, не null ли моя переменная. Я могу сделать это с помощью if
        (notFound != null), однако тогда нужно писать достаточно много текста. Вместо этого, я могу просто написать
        вопросительный знак после кусочка кода, который может мне потенциально вернуть null </p>
    <div class="code-block">
        <p class="code-text">string notFound = ReturnTextOrNull("не текст")?.ToString();</p>
    </div>
    <img class="mw-100" src="{% static 'img/charp/11_ternar/6_ternarkpp.png' %}" alt="Вопросительный знак - тернарное выражение"/>
    <p>Тогда, если значение и правда было null, код просто не пойдет дальше. Метод ToString не выполнится, а значит и
        ошибки не будет. </p>
    <div class="code-block">
        <p class="code-text">string notFound = ReturnTextOrNull("не текст")?.ToString();
            Console.WriteLine(notFound);</p>
    </div>
    <img class="mw-100" src="{% static 'img/charp/11_ternar/7_good.png' %}" alt="Код выполнился с тернарником без ошибок"/>
    <p>Но что, если в случае null, я хочу присвоить своей переменной какое-то значение по умолчанию? </p>



    <hr id="nullcheck"/>
    <h4>Проверка на пустоту</h4>
    <p>Для присвоения значения в случае null я могу прописать следующий if</p>
    <div class="code-block">
        <p class="code-text">string notFound = ReturnTextOrNull("не текст");
            if (notFound == null)
            &nbsp; &nbsp; notFound = "По умолчанию";</p>
    </div>
    <p>Однако, это опять же долго. Опять же, я могу выполнить это условие в одну строчку – мне нужно поставить два равно
        после кода, который может потенциально вернуть null, а после них написать значение, которое я хочу, чтобы
        присвоилось. Тогда, если значение было равно пустоте, тогда у меня присвоится значение правее ??. Если значение
        было <b>не</b> равно пустоте, тогда присвоится значение левее ?? </p>
    <div class="code-block">
        <p class="code-text">string notFound = ReturnTextOrNull("не текст") ?? "По умолчанию";
            Console.WriteLine(notFound);</p>
    </div>
    <img class="mw-100" src="{% static 'img/charp/11_ternar/8_defaultvalue.png' %}" alt="?? взял значение по умолчанию"/>
    <img class="mw-100" src="{% static 'img/charp/11_ternar/9_normalvalue.png' %}" alt="?? взял обычное значение"/>
    <p>Уже понятно, что вещь это удобная, так как она сокращает наш код. У нас может возникнуть вопрос, а если мы
        простой однострочный if записали в одну строку, можем ли мы так сделать и для других if? </p>




    <hr id="shortif"/>
    <h4>Сокращение if</h4>
    <p>Мы можем сократить запись для конструкции if/else, даже тех, которые к null никак не относятся. Такие выражения
        называются
        <b>тернарными</b></p>
    <p>Например, у меня есть такое условие </p>
    <div class="code-block">
        <p class="code-text">string notFound = ReturnTextOrNull("текст");

            if (notFound == "текст")
            &nbsp; &nbsp; notFound = "Метод вернул текст";
            else
            &nbsp; &nbsp; notFound = "Метод вернул пустоту";

            Console. WriteLine(notFound);</p>
    </div>
    <p>Его я могу представить следующим образом </p>
    <div class="code-block">
        <p class="code-text">string notFound = ReturnTextOrNull("текст") == "текст" ? "Метод вернул текст" : "Метод
            вернул пустоту";
            Console.WriteLine(notFound);</p>
    </div>
    <p>Кратко - любой if, который существует <b>чисто для того</b>, чтобы присвоить в переменную разные значения, и не
        делает больше ничего, можно превратить в тернарное выражение</p>
    <p>У тернарников следующая структура построения: </p>
    <img class="mw-100" src="{% static 'img/charp/11_ternar/10_ternarstruct.png' %}" alt="?? взял обычное значение"/>
    <ul>
        <li>Условий может быть несколько, перечисленные через логические операторы И (&&) или ИЛИ (||)</li>
        <li>Выражений должно быть обязательно 2 – для true или false</li>
        <li>Тернарники можно применять только для присваивания какого-то значения</li>
    </ul>



    <hr id="result"/>
    <h4>Итог</h4>
    <ul>
        <li>Хочу сделать так, чтобы код не шел дальше, если он встретил null - <b>ставлю ? после null-значения</b></li>
        <li>Хочу внести значение по умолчанию, если вдруг переменная была равна Null - <b>ставлю ?? и после него
            значение
            по умолчанию</b>
        </li>
        <li>Если я хочу сократить условие, внутри каждого действия которого есть присваивание значения в переменную -
            <b>строю if через ? :</b>
        </li>
    </ul>
{% endblock %}