{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#format" class="default-link">Создание формата для проверки </a></li>
        <li><a href="#matches" class="default-link">Проверка строки по формату</a></li>
        <li><a href="#ismatch" class="default-link">Проверка на соотношение строки и формата </a></li>
        <li><a href="#additional" class="default-link">Дополнительные настройки формата </a></li>
    </ul>

{% endblock %}


{% block previousPage %} {% url 'ternar' %} {% endblock %}
{% block nextPage %} {% url 'readkey' %} {% endblock %}


{% block main_info %}
    <h2>Взаимодействие с консолью</h2>
    <p>Иногда бывает такое, что нужно проверить текст на правильность формата. Частый пример – ввод email-а как логина.
        Мы не хотим давать пользователю авторизоваться или зарегистрироваться до тех пор, пока он не введет правильный
        email. Но как проверить, точно ли формат email верный? Если бы я делала это вручную, мне бы пришлось проверять
        наличие @ и . через Contains, количество символов после @, есть ли точка после @, сколько символов после точки и
        так далее. Это неистово муторно. Было бы круто, если бы у меня была возможность указать формат, а потом по
        формату проверять строки. И такая возможность есть! Называется <b>регулярные выражения</b></p>
    <p>Регулярные выражения (по-английски <b>Reg</b>ular <b>ex</b>pressions, кратко, <b>regex</b>) есть в каждом языке
        программирования. В сути, это свой маленький язык, при помощи которого вы можете сделать формат, а потом по
        формату проверять все строки. </p>
    <p>Внутри этого языка есть много обозначений – буква-символ, цифра-символ, диапазон символов и прочее. Со всеми
        обозначениями досконально мы разбираться не будем, однако поверхностно Regex разобрать можно, плюс посмотрим,
        как оно работает в C# </p>
    <p>Более подробно поэксперементировать с обозначениями вы можете на MSDN (официальной документации Microsoft) в
        статье
        <a href="https://learn.microsoft.com/ru-ru/dotnet/standard/base-types/regular-expression-language-quick-reference"
           class="default-link"> Элементы языка регулярных выражений — краткий справочник</a>. В качестве песочницы для
        экспериментов можете воспользоваться вот этим сайтом: <a href="https://regexr.com/" class="default-link">
            https://regexr.com/</a> Он сразу будет подсвечивать слова, которые подходят под формат </p>
    <p>Но чтобы начать понимать, как написать свой формат, давайте ознакомимся с основами</p>


    <hr id="format"/>
    <h4>Создание формата для проверки </h4>
    <p>Основным классом при работе с регулярными выражениями является класс <b>Regex</b>. Чтобы создать формат, нужно
        создать
        экземпляр класса Regex. Внутри нужно написать формат. Формат – текст, перед которым будет стоять @. Собачка
        нужна, чтобы код смог расценить символы внутри как обозначения формата </p>
    <p>Например, у нас есть некоторый текст и нам надо найти в нем все формы какого-нибудь слова. Создам переменную с
        текстом и начну создавать формат </p>
    <div class="code-block">
        <p class="code-text"> using System.Text.RegularExpressions;

            string text = "Сдаться, измениться внутри, либо компенсировать. Я выбрал третье и стал бороться вовсю";
            Regex regex = new Regex(@"");
        </p>
    </div>
    <p>Я хочу найти все слова, которые содержат «ть» внутри слова. Т.е., что слева, что справа, могут быть буквы в
        неограниченном количестве, либо не быть вовсе. Что делать? </p>
    <ol>
        <li>
            Мне сто процентов нужно найти «ть». Я напишу ть внутрь формат <br/>
            <img class="mw-100" src="{% static 'img/charp/12_regex/1_firstformat.png' %}" alt="Ть в формате"/>
        </li>
        <li>
            И слева и справа нужно любое количество символов. Чтобы найти нужное обозначение для букв-символов, внутри
            строки можно нажать <b>ctrl+пробел</b>. Покажется контекстное меню со всеми доступными вариантами. Внутри
            нужно найти обозначение буквы. Там же можно найти описание этого формата
            <img class="mw-100" src="{% static 'img/charp/12_regex/2_context.png' %}" alt="Контекстное меню для регекса"/>
        </li>
        <li>
            Нашли, что \w – символ слова. Если я поставлю \w слева и справа, я скажу, что слева и справа может быть по
            символу <br/>
            <img class="mw-100" src="{% static 'img/charp/12_regex/3_secondformat.png' %}" alt="Вокруг ть по символу"/>
            Но мне нужно сказать, что там не один символ, а сколько угодно символов. Для обозначения любого количества
            символов есть *. Поставлю звездочку после \w
            <br/>
            <img class="mw-100" src="{% static 'img/charp/12_regex/4_thirdformat.png' %}" alt="Вокруг ть по много символов"/>
        </li>
    </ol>
    <p>С форматом закончили! Теперь строку нужно подставить под формат. Проверку можно сделать несколькими способами:
        найти все подходящие слова в строке, найти все подходящие строки в массиве строк, проверить, подходит ли строка
        под формат </p>



    <hr id="matches"/>
    <h4>Проверка строки по формату</h4>
    <p>Чтобы соотнести формат и строку, возьмем переменную с регексом, <b>а именно,</b> методом <b>Matches</b>. Внутрь
        метода передаем строку. Метод вернет все совпадения в формате списка. Если сравнение ничего не нашло, будет
        просто пустая коллекция </p>
    <p>Раз вернулась коллекция, переберем ее при помощи цикла foreach и выведем все получившиеся результаты </p>
    <div class="code-block">
        <p class="code-text">string line = "Сдаться, измениться внутри, либо компенсировать. Я выбрал третье и стал
            бороться вовсю";

            Regex regex = new Regex(@"\w*ть\w*");
            var resultCollection = regex.Matches(line);

            foreach (var result in resultCollection)
            {
            &nbsp; &nbsp; Console.WriteLine(result);
            } </p>
    </div>
    <img class="mw-100" src="{% static 'img/charp/12_regex/5_result.png' %}" alt="Результат формата"/>
    <p>С форматом можно экспериментировать как угодно! Например, давайте найдем все слова, которые заканчиваются на
        «ся», но внутри есть буква «а». Тогда формат можно представить, как «слева и справа от буквы «а» должно быть
        любое количество символов. В конце «ся», то есть слева любое количество символов, а справа ничего» </p>
    <div class="code-block">
        <p class="code-text">string line = "Сдаться, измениться внутри, либо компенсировать. Я выбрал третье и стал
            бороться вовсю";

            Regex regex = new Regex(@"\w*а\w*ся"); //по итогу формат ищет все слова ___а___ся
            var resultCollection = regex.Matches(line);

            foreach (var result in resultCollection)
            {
            &nbsp; &nbsp; Console.WriteLine(result);
            } </p>
    </div>
    <img class="mw-100" src="{% static 'img/charp/12_regex/6_resultoneword.png' %}" alt="Результат формата"/>




    <hr id="ismatch"/>
    <h4>Проверка на соотношение строки и формата </h4>
    <p>Находить несколько подходящих элементов внутри строки конечно круто, но давайте вернемся к первоначальному
        примеру – человек вводит e-mail, нам нужно проверить, а точно ли он верно введен, точно ли это не «123». Начало
        будет точно таким же – нужна строка и нужен Regex. Только вот использовать мы будем не Matches, а
        <b>условие с IsMatch</b> – подходит ли формат к строке </p>
    <p>Попросим человека ввести строку и сохраним ее в переменную input. Затем, разберем формат e-mail.
        <b>Example@example.com, my-email123@mail.ru, super.cool.@gmail.com</b> – это все почты. Мы видим, что почта
        делится на
        имя@почтоваяслужба. Попробуем сделать из него формат</p>
    <ul>
        <li>В имени могут быть буквы, символы и цифры в любом количестве</li>
        <li>После имени обязательно идет собака</li>
        <li>Дальше домен. В домене только буквы, тоже в неограниченном количестве</li>
        <li>После домена обязательно точка</li>
        <li>И в конце ru, com, что угодно. Но короткое, 2-4 символа</li>
    </ul>
    <p>Из этого построим формат </p>
    <div class="code-block">
        <p class="code-text">string input = Console.ReadLine();

            Regex regex = new Regex(@"^[\w-._]*@\w*.[A-z]{2,4}$"); </p>
    </div>
    <ul>
        <li>^ - Начало строки (мы не должны найти почту где-то посередине)</li>
        <li>[\w-._] – диапазон символов, куда входят буквы\цифры и символы – . _</li>
        <li>* - любое количество этих символов</li>
        <li>@ - собачка, которая обязательно должна быть</li>
        <li>\w* - любое количество букв\цифр</li>
        <li>. – точка, которая обязательно должна быть</li>
        <li>[A-z]{2,4} – все буквы от большой А до маленькой z, но их может быть только от двух до четырех</li>
        <li>$ - конец строки (опять же, не хотим, чтобы после почты что-то еще было написано)</li>
    </ul>
    <p>Чтобы полностью проверить строку на формат, воспользуемся методом IsMatch и поместим его в условие – Если формат
        совпадает – написать «почта верная!». Если нет – сказать, что неверная. </p>
    <div class="code-block">
        <p class="code-text">using System.Text.RegularExpressions;

            string input = Console.ReadLine();
            Regex regex = new Regex(@"^[\w-._]*@\w*.[A-z]{2,4}$");

            if (regex.IsMatch(input))
            &nbsp; &nbsp; Console.WriteLine("почта верная!");
            else
            &nbsp; &nbsp; Console.WriteLine("почта неверная"); </p>
    </div>
    <p>Попробуем этот код запустить и ввести разные email! </p>
    <img class="mw-100" src="{% static 'img/charp/12_regex/7_goodresult.png' %}" alt="Верная почта"/>
    <img class="mw-100" src="{% static 'img/charp/12_regex/8_badresult.png' %}" alt="Неверная почта"/>
    <p>Таким же образом, при помощи IsMatches, можно проверять массивы строк. Просто вместо того, чтобы один раз
        воспользоваться условием с IsMatches, нужно будет пробежаться по всему массиву и поставить условие для каждого
        элемента </p>



    <hr id="additional"/>
    <h4>Дополнительные настройки формата </h4>
    <p>Класс Regex имеет ряд конструкторов, позволяющих выполнить начальную инициализацию объекта. Две версии
        конструкторов в качестве одного из параметров принимают перечисление RegexOptions. Некоторые из значений,
        принимаемых данным перечислением: </p>
    <ul>
        <li>Compiled: при установке этого значения регулярное выражение компилируется в сборку, что обеспечивает более
            быстрое выполнение;
        </li>
        <li>CultureInvariant: при установке этого значения будут игнорироваться региональные различия;</li>
        <li>IgnoreCase: при установке этого значения будет игнорироваться регистр;</li>
        <li>IgnorePatternWhitespace: удаляет из строки пробелы и разрешает комментарии, начинающиеся со знака #</li>
        <li>Multiline: указывает, что текст надо рассматривать в многострочном режиме. При таком режиме символы "^" и
            "$" совпадают, соответственно, с началом и концом любой строки, а не с началом и концом всего текста;
        </li>
        <li>RightToLeft: приписывает читать строку справа налево;</li>
        <li>Singleline: при данном режиме символ "." соответствует любому символу, в том числе последовательности "\n",
            которая осуществляет переход на следующую строку.
        </li>
    </ul>
    <p>Например, так мы будем игнорировать регистр. </p>
    <img class="mw-100" src="{% static 'img/charp/12_regex/9_ignorecase.png' %}" alt="Игнорирование регистра"/>
    <img class="mw-100" src="{% static 'img/charp/12_regex/10_resultignore.png' %}" alt="Результат при игнорировании"/>
    <p>При необходимости можно установить несколько параметров: </p>
    <div class="code-block">
        <p class="code-text">Regex regex = new Regex(@"\w*а\w*ть", RegexOptions.IgnoreCase | RegexOptions.Compiled); </p>
    </div>
{% endblock %}