{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#keys" class="default-link">Чтение клавиши - ReadKey</a></li>
        <li><a href="#modifiers" class="default-link">Использование модификаторов - Ctrl, Alt, Shift</a></li>
    </ul>

{% endblock %}


{% block previousPage %} {% url 'trycatch' %} {% endblock %}
{% block nextPage %} {% url 'ternar' %} {% endblock %}


{% block main_info %}
    <h2>Чтение символов с клавиатуры</h2>
    <p>Когда мы что-то вводили в консоль, мы читали конечный результат, то, что возвращалось после Enter. А что, если я
        хочу ввести какую-то системную клавишу в консоль и прочитать ее? Я же не могу вписать в консоль значение F6 или
        Print Screen, а использовать хочу. Что делать? </p>

    <hr id="keys"/>
    <h4>Чтение клавиши - ReadKey</h4>
    <p>Если текст я брала с помощью Console.ReadLine() – прочитать строку, то клавишу я буду читать с помощью
        Console.ReadKey() – прочитать клавишу. Тип данных для переменной будет ConsoleKeyInfo, так как мы хотим хранить
        информацию о клавише, введенной из консоли </p>
    <div class="code-block">
        <p class="code-text">ConsoleKeyInfo key = Console.ReadKey();</p>
    </div>
    <p>Теперь мы можем взаимодействовать с этой клавишей. Например, я могу вывести имя этой клавиши с помощью этой
        переменной, а именно (ставлю точку) ее ключа (Key). Можете попробовать запустить этот код и в консоли нажать
        любую клавишу!</p>
    <div class="code-block">
        <p class="code-text"> ConsoleKeyInfo key = Console.ReadKey();

            Console. WriteLine(key.Key);</p>
    </div>
    <p>Также я могу проверить в условии какая клавиша была нажата и реализовать какой-то код, связанный с ней. Чтобы
        построить условие, после двойного равно я должна написать ConsoleKey.Названиеклавиши, или выбрать необходимую
        клавишу из списка. </p>
    <img src="{% static 'img/charp/13_readkey/1_keylist.png' %}" alt="Список клавиш"/>
    <p>Например, я хочу клавижу F7 – я так и напишу </p>
    <div class="code-block">
        <p class="code-text">ConsoleKeyInfo key = Console.ReadKey();
            if (key.Key == ConsoleKey.F7)
            &nbsp; Console.WriteLine("Это F7");</p>
    </div>
    <p>Также я могу использовать сочетания клавиш, например, ctrl + d, alt + 9, ctrl + shift + enter и так далее. </p>



    <hr id="modifiers"/>
    <h4>Использование модификаторов - Ctrl, Alt, Shift</h4>
    <p>Чтобы узнать, была ли удержана клавиша ctrl, alt или shift для создания какой-то комбинации, есть следующий код.
        В нем мы буквально спрашиваем "Есть ли вот такой модификатор у нажатой клавиши?".</p>
    <p>В качестве модификатора считаются клавиши ctrl, alt или shift. Эти же клавиши не будут работать при ReadKey, так
        как они не считаются за клавиши, а считаются за модификаторы.</p>
    <img src="{% static 'img/charp/13_readkey/2_modifierslist.png' %}" alt="Список модификаторов"/>
    <p>Таким образом, мы смотрим есть ли какие-то <b>модификаторы</b> к нашей клавише, добавки. Этими добавками как раз таки и
        являются ctrl, alt или shift.
    </p>
    <p> Реализую пример выше с ctrl + d. Два условия я объединяю логической операцией И, т.е. &&. </p>
    <div class="code-block">
        <p class="code-text">ConsoleKeyInfo key = Console.ReadKey();

            if (key.Modifiers.HasFlag(ConsoleModifiers.Control) && key.Key == ConsoleKey.D)
            &nbsp; Console.WriteLine("CTRL + D нажата");</p>
    </div>
    <img src="{% static 'img/charp/13_readkey/3_modifierexamle.png' %}" alt="Условие с Ctrl+D"/>
    <p>Чем больше комбинация, тем больше условий надо будет писать. Вот, например, ctrl + shift + enter </p>
    <div class="code-block">
        <p class="code-text">ConsoleKeyInfo key = Console.ReadKey();

            if (key.Modifiers.HasFlag(ConsoleModifiers.Control) && key.Modifiers.HasFlag(ConsoleModifiers.Shift) S& key.Key == ConsoleKey.Enter)
            &nbsp; Console.WriteLine("CTRL + Shift + Enter нажата");
        </p>
    </div>
    <img src="{% static 'img/charp/13_readkey/4_bigexample.png' %}" alt="Схема LINQ запроса"/>
{% endblock %}