{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#structure" class="default-link">Структура стрелочного меню</a></li>
        <li><a href="#selection" class="default-link">Выбор элемента по нажатию на enter</a></li>
    </ul>

{% endblock %}


{% block previousPage %} {% url 'consoleuse' %} {% endblock %}
{% block nextPage %} {% url 'methods' %} {% endblock %}


{% block main_info %}
    <h2>Взаимодействие с консолью</h2>
    <p>Можно вечно сидеть с числовым меню на консоли. Однако это далеко не единственный вариант представления меню. Одно
        из представлений - стрелочное меню. При помощи взаимодействия с консолью его можно быстро и просто
        реализовать</p>


    <hr id="structure"/>
    <h4>Структура стрелочного меню<</h4>
    <p>Нарисуем условную стрелочку, которая изначально будет стоять в позиции 0, 1 </p>
    <div class="code-block">
        <p class="code-text">Console. SetCursorPosition(0, 1);
            Console.WriteLine("->");</p>
    </div>
    <p>Теперь, давайте будем считывать нажатую клавишу с консоли и проверять, чему он равен. Если клавиша равна стрелке
        наверх, то переместить нашу стрелку на позицию 0,0, т.е. на один ряд выше. Если равна стрелки вниз – на позицию
        0,2, т.е. на один ряд ниже </p>
    <div class="code-block">
        <p class="code-text">Console.SetCursorPosition(0, 1);
            Console.WriteLine("->");

            ConsoleKeyInfo key = Console.ReadKey();
            if (key.Key == ConsoleKey.UpArrow)
            {
            &nbsp; &nbsp; Console.SetCursorPosition(0, 0);
            &nbsp; &nbsp; Console.WriteLine("->");
            }
            else if (key.Key == ConsoleKey.DownArrow)
            {
            &nbsp; &nbsp; Console.SetCursorPosition(0, 2);
            &nbsp; &nbsp; Console.WriteLine("->");
            }</p>
    </div>
    <img src="{% static 'img/charp/15_arrowmenu/1_arrowupdown.png' %}" alt="Перемещение стрелки"/>
    <p>Принцип мы поняли – если мы идем вниз, число увеличивается, если вверх – уменьшается. Давайте вынесем второе
        число в отдельную переменную и будем ему прибавлять или убавлять значения в зависимости от того, на какую
        клавишу мы нажали. </p>
    <div class="code-block">
        <p class="code-text">int position = 1;
            Console.SetCursorPosition(0, position);
            Console.WriteLine("->");

            ConsoleKeyInfo key = Console.ReadKey();
            if (key.Key == ConsoleKey.UpArrow)
            {
            &nbsp; &nbsp; position--; //или position = position - 1;
            &nbsp; &nbsp;
            &nbsp; &nbsp; Console.SetCursorPosition(0, position);
            &nbsp; &nbsp; Console.WriteLine("->");
            }
            else if (key.Key == ConsoleKey.DownArrow)
            {
            &nbsp; &nbsp; position++; //или position = position + 1;
            &nbsp; &nbsp;
            &nbsp; &nbsp; Console.SetCursorPosition(0, position);
            &nbsp; &nbsp; Console.WriteLine("->");
            }</p>
    </div>
    <p>Строки с SetCursorPosition и WriteLine повторяются и в первом ифе, и во втором, так что мы можем их вызывать под
        всеми ифами, так как они а) выполнятся в любом случае, б) стояли в конце каждого действия. Стояли бы в начале -
        вынесли бы выше </p>
    <div class="code-block">
        <p class="code-text">int position = 1;
            Console.SetCursorPosition(0, position);
            Console.WriteLine("->");

            ConsoleKeyInfo key = Console.ReadKey();
            if (key.Key == ConsoleKey.UpArrow)
            {
            &nbsp; &nbsp; position--; //или position = position - 1;
            }
            else if (key.Key == ConsoleKey.DownArrow)
            {
            &nbsp; &nbsp; position++; //или position = position + 1;
            }

            Console.SetCursorPosition(0, position);
            Console.WriteLine("->");</p>
    </div>
    <p>Давайте обернем это чтение символа в бесконечный цикл и посмотрим, что у нас получится </p>
    <img src="{% static 'img/charp/15_arrowmenu/2_manyarrows.png' %}" alt="Много стрелок"/>
    <p>Стрелочки постоянно повторяются, я же хочу, чтобы была одна стрелочка на всё меню. Тогда я добавлю
        Console.Clear() перед тем, как рисовать новую стрелку </p>
    <img src="{% static 'img/charp/15_arrowmenu/3_onearrow.png' %}" alt="Одна стрелка"/>
    <p>Также, я могу добавить свое текстовое меню в отдельный метод, чтобы каждый раз вызывать его после очищения
        экрана. Чтобы выбрать какой-то элемент, нам нужно будет читать нажатие клавиши Enter, а выбранный пункт мы можем
        узнать из переменной position </p>
    <div class="code-block">
        <p class="code-text">
            int position = 1;
            Menu();
            while (true)
            {
            &nbsp; &nbsp; ConsoleKeyInfo key = Console.ReadKey();
            &nbsp; &nbsp; if (key.Key == ConsoleKey.UpArrow)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp;position--;
            &nbsp; &nbsp; }
            &nbsp; &nbsp; else if (key.Key == ConsoleKey.DownArrow)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp;position++;
            &nbsp; &nbsp; }
            &nbsp; &nbsp;
            &nbsp; &nbsp; Console.Clear();
            &nbsp; &nbsp; Menu();
            &nbsp; &nbsp; Console.SetCursorPosition(0, position);
            &nbsp; &nbsp; Console.WriteLine("->");
            }

            static void Menu()
            {
            &nbsp; &nbsp; Console.WriteLine("Какой цвет вы любите?");
            &nbsp; &nbsp; Console.WriteLine(" 1.Желтый"); //два пробела слева для стрелки, т.к. стрелка занимает 2
            символа
            &nbsp; &nbsp; Console.WriteLine(" 2.Красный");
            &nbsp; &nbsp; Console.WriteLine(" 3.Зеленый");
            &nbsp; &nbsp; Console. WriteLine(" 4.Синий");
            }
        </p>
    </div>
    <img src="{% static 'img/charp/15_arrowmenu/4_menuresult.png' %}" alt="Результат меню"/>
    <p>Есть еще другой вариант, чтобы интерфейс не мелькал постоянно, когда мы переключаем стрелку. Можно чистить старую
        позицию стрелки. Тогда вместо Console.Clear(); мы сделаем иначе. </p>
    <p>Как только пользователь нажал клавишу, мы должны поставить два пробела там, где стрелка находится в данный
        момент. Так мы затираем уже нарисованную стрелку. Потом уже код смотрит, на какую стрелку мы нажали, меняет
        позицию и рисует стрелку заново</p>
    <img src="{% static 'img/charp/15_arrowmenu/5_clearing.png' %}" alt="Затирка пробелом"/>
    <p>Вот эти две строчки снизу тогда убираем, так как больше не нужно ничего дополнительно чистить </p>
    <img src="{% static 'img/charp/15_arrowmenu/6_removing.png' %}" alt="Сброс цвета"/>
    <p>Итоговый код для меню выглядит следующим образом</p>
    <div class="code-block">
        <p class="code-text">
            int position = 1;
            Menu();
            while (true)
            {
            &nbsp; &nbsp; ConsoleKeyInfo key = Console.ReadKey();
            &nbsp; &nbsp;
            &nbsp; &nbsp; Console.SetCursorPosition(0, position);
            &nbsp; &nbsp; Console.WriteLine(" ");
            &nbsp; &nbsp;
            &nbsp; &nbsp; if (key.Key == ConsoleKey.UpArrow)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp;position--;
            &nbsp; &nbsp; }
            &nbsp; &nbsp; else if (key.Key == ConsoleKey.DownArrow)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp;position++;
            &nbsp; &nbsp; }
            &nbsp; &nbsp;
            &nbsp; &nbsp; Console.SetCursorPosition(0, position);
            &nbsp; &nbsp; Console.WriteLine("->");
            }

            static void Menu()
            {
            &nbsp; &nbsp; Console.WriteLine("Какой цвет вы любите?");
            &nbsp; &nbsp; Console.WriteLine("  1.Желтый"); //два пробела слева для стрелки, т.к. стрелка занимает 2
            символа
            &nbsp; &nbsp; Console.WriteLine("  2.Красный");
            &nbsp; &nbsp; Console.WriteLine("  3.Зеленый");
            &nbsp; &nbsp; Console.WriteLine("  4.Синий");
            }
        </p>
    </div>
    <p>Передвижение стрелки сделали, теперь выбор</p>




    <hr id="selection"/>
    <h4>Выбор элемента по нажатию на enter </h4>
    <p>Для начала, по нажатию на enter наш цикл должен закончится. Значит вместо while true ставим условие – while
        key.Key != ConsoleKey.Enter. Но проблема в том, что key у нас создается на 2 строчки ниже </p>
    <img src="{% static 'img/charp/15_arrowmenu/7_keyerror.png' %}" alt="Ошибка с key"/>
    <p>Все, что нам нужно сделать, это переместить этот key выше, из цикла, чтобы цикл узнал что такая переменная
        существует </p>
    <img src="{% static 'img/charp/15_arrowmenu/8_settingkey.png' %}" alt="Постановка key выше цикла"/>
    <p>А затем, так как повторно внутри цикла мы клавишу не вводим, нам нужно ее ввести, в самом конце цикла, сразу
        после отрисовки стрелочки </p>
    <img src="{% static 'img/charp/15_arrowmenu/9_newkey.png' %}" alt="В конце цикла снова читается Key"/>
    <p>Тогда, как только мы нажмем Enter, программа завершается, потому что после нее ничего нет. Но мы можем сделать
        отображение того, что за пункт мы выбрали. Делать мы это будем в зависимости от позиции стрелочки. У нас как раз
        все удобно сделано – 1 строчка – 1 пункт, желтый. 2 строчка – красный и прочее. </p>
    <img src="{% static 'img/charp/15_arrowmenu/10_menumark.png' %}" alt="Распределение меню по индексам"/>
    <p>И в зависимости от этого, после цикла, мы можем сделать условия и вывести наш пункт</p>
    <img src="{% static 'img/charp/15_arrowmenu/11_arrowandselect.png' %}" alt="Стрелочное меню и меню выбора"/>
    <p>Только обязательно нужно поставить курсор в нужную позицию, иначе он выведет сообщение поверх меню </p>
    <img src="{% static 'img/charp/15_arrowmenu/12_setcursor.png' %}"
         alt="Постановка курсора после меню для корректного вывода"/>
    <p>Итоговый код для меню выглядит следующим образом</p>
    <div class="code-block">
        <p class="code-text">
            int position = 1;
            Menu();
            ConsoleKeyInfo key = Console.ReadKey();

            while (key.Key != ConsoleKey.Enter)
            {&nbsp; &nbsp;
            &nbsp; &nbsp; Console.SetCursorPosition(0, position);
            &nbsp; &nbsp; Console.WriteLine(" ");
            &nbsp; &nbsp;
            &nbsp; &nbsp; if (key.Key == ConsoleKey.UpArrow)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; position--;
            &nbsp; &nbsp; }
            &nbsp; &nbsp; else if (key.Key == ConsoleKey.DownArrow)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; position++;
            &nbsp; &nbsp; }
            &nbsp; &nbsp;
            &nbsp; &nbsp; Console.SetCursorPosition(0, position);
            &nbsp; &nbsp; Console.WriteLine("->");

            &nbsp; &nbsp; key = Console.ReadKey();
            }

            Console.SetCursorPosition(0, 7);
            
            if (position == 1)
            &nbsp; &nbsp; Console.WriteLine("Это желтый");
            else if (position == 2)
            &nbsp; &nbsp; Console.WriteLine("Этс красный");
            else if(position == 3)
            &nbsp; &nbsp; Console.WriteLine("Это зеленый");
            else if(position == 4)
            &nbsp; &nbsp; Console.WriteLine("Это синий");

            static void Menu()
            {
            &nbsp; &nbsp; Console.WriteLine("Какой цвет вы любите?");
            &nbsp; &nbsp; Console.WriteLine("  1.Желтый"); //два пробела слева для стрелки, т.к. стрелка занимает 2
            символа
            &nbsp; &nbsp; Console.WriteLine("  2.Красный");
            &nbsp; &nbsp; Console.WriteLine("  3.Зеленый");
            &nbsp; &nbsp; Console.WriteLine("  4.Синий");
            }
        </p>
    </div>
{% endblock %}