{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#structure" class="default-link">Структура проекта с методами</a></li>
        <li><a href="#creation" class="default-link">Создание собственного метода</a></li>
        <li><a href="#return" class="default-link">Возврат значения из метода</a></li>
        <li><a href="#parameters" class="default-link">Передача параметров в метод</a></li>
    </ul>

{% endblock %}


{% block previousPage %} {% url 'arrowmenu' %} {% endblock %}
{% block nextPage %} {% url 'ternar' %} {% endblock %}


{% block main_info %}
    <h2>Взаимодействие с консолью</h2>
    <p>На данный момент весь наш код пишется сплошняком сверху вниз. Однако некоторые блоки кода выполняют совершенно
        различные действия: один вводит информацию, другой ее обрабатывает, а третий – выводит. Когда все это хранится
        сплошняком, код становится тяжело читать и становится неясно, для чего нужен тот или иной блок кода. Поэтому эти
        блоки кода мы можем проименовать и сделать его
        <b>методом</b>. Такое может понадобится в следующих случаях: </p>
    <ul>
        <li>В основном методе слишком много строк кода (примерно >50)</li>
        <li>Основной код можно разделить на подзадачи</li>
        <li>Блок кода где-либо повторяется</li>
    </ul>




    <hr id="structure"/>
    <h4>Структура проекта с методами</h4>
    <p>Для примера, я создала проект на .NET 6.0 и выше с галочкой "Не использовать операторы верхнего уровня". Такой же
        проект создается на .NET 5.0 или .NET 3.1. Давайте рассмотрим что у него есть </p>
    <img src="{% static 'img/charp/16_methods/1_structure.png' %}" alt="Базовая структура проекта"/>
    <p>Итак, у нас есть </p>
    <ul>
        <li> Пространство имен – контейнер для классов, грубо говоря, его путь. С помощью него мы говорим где именно у
            нас хранится наш класс и позже, с помощью пути, мы сможем до него добраться
        </li>
        <li> Класс – контейнер для методов. Внутри класса хранится своя уникальная логика для чего-либо. Например, класс
            «Кофемашина» будет хранить в себе методы по заварке эспрессо, капучино и латте, а класс «Калькулятор» будет
            хранить в себе методы по сложению, вычитанию, умножению и делению
        </li>
        <li> Метод – контейнер кода. Внутри этих контейнеров мы, непосредственно, храним логику для какого-либо блока
            алгоритма. Все это время мы писали код внутри метода Main, независимо от того, на какой платформе .NET вы
            писали код
        </li>
    </ul>
    <p class="text-center"><b>!Важно!</b> – консольные приложения не могут запустится, если внутри них не будет метода
        Main, поэтому не меняйте название главного метода. Однако, если ничего не будет, а будет сразу код, программа
        также может запуститься (но только начиная с .NET 6.0!)</p>
    <img src="{% static 'img/charp/16_methods/2_emptystructure.png' %}" alt="Пустой проект сразу с кодом"/>
    <p>В этом случае, метод уже существует и называется Main. Но если мы создаем обычный проект на версии .NET 6.0 и
        выше, стартовый проект будет выглядеть вот так и все равно работать. </p>
    <p class="text-center">Дисклеймер: мы будем разбирать методы на одном примере, однако в целом, методы существуют для
        наименования блоков кода. Один метод должен делать одну задачу. Если думаете: «Где мне применять методы?», ответ
        – везде. Если я хочу сделать простой конвертер валют, где я ввожу значения, конвертирую их, а затем вывожу,
        должно быть три метода – ввод, конвертация, вывод. Еще раз – одна задача – один метод. Это в будущем вам
        поможет, чтобы компоновать разные блоки кода разными способами, как лего </p>






    <hr id="creation"/>
    <h4>Создание собственного метода</h4>
    <p>Представим, что есть автомат с жвачкой. Кривоватый, сделанный с божьей помощью
        <del>как наш код</del>
        , но очень любимый
    </p>
    <img src="{% static 'img/charp/16_methods/3_jvachka.png' %}" alt="Автомат с жвачкой"/>
    <p>Автоматы просто стоят в торговых центрах и иногда ими пользуются. Они – не основная активность похода в магазин.
        Но на всякий случай, они там все равно стоят, со своей логикой, в своем месте, и каждый человек в моменте может
        к ним обратиться </p>
    <p>По этой аналогии, есть какой-то блок кода, который иногда нужно использовать. Не факт, что он обязателен всегда,
        но он хранит какую-то логику для себя и только для себя. Логично будет вынести всю логику одного объекта в одну
        коробочку –
        <b>в метод </b></p>
    <p>Структура методов выглядит следующим образом: </p>
    <div class="code-block">
        <p class="code-text">void SomeName() //() - определение, что это метод. void - что он возвращает
            {
            &nbsp; &nbsp;// коробочка, куда пойдет код
            } </p>
    </div>
    <p>Автомат работает по какой-то логике: мы закидываем десятку, прокручиваем ручку, автомат выдает нам жвачку.
        Давайте создадим метод Avtomat, который будет выбирать жвачку и выдавать ее. </p>
    <p>Код пишется в фигурных скобках. Внутри них может быть прописано все что угодно, что вы знали до этого –
        переменные, условия, циклы и так далее. </p>
    <div class="code-block">
        <p class="code-text">void Avtomat()
            {
            &nbsp; &nbsp; Console.WriteLine("Выбираю жвачку...");
            &nbsp; &nbsp; Console.WriteLine("Вот ваша жвачка!");
            } </p>
    </div>
    <p>Но если мы запустим сейчас, автомат не будет работать и в консоль ничего не выведется, так как мы, ака программа,
        ака метод Main, не работал с этим автоматом. Чтобы обратиться к автомату и выполнить весь код внутри, нужно
        просто написать его название (т.е. название метода), вместе с круглыми скобками </p>
    <img src="{% static 'img/charp/16_methods/4_call.png' %}" alt="Вызов метода"/>
    <p>И уже тогда мы увидим результат </p>
    <img src="{% static 'img/charp/16_methods/5_callresult.png' %}" alt="Результат вызова метода"/>
    <p>Однако сейчас мы подходим к автомату, и он сразу выдает нам нашу жвачку. Даже не так – он просто говорит о том,
        что он ее нам выдал, однако ничего подобного не сделал. В реальном же мире, должно быть так, что мы внутрь
        автомата что-то <b>передаем</b>, а он нам в ответ что-то <b>возвращает</b></p>
    <img src="{% static 'img/charp/16_methods/6_jvachkareturntransfer.png' %}"
         alt="Макет автомата с жвачкой с передачей и возвратом"/>
    <p>Начнем с того, что автомат должен вернуть нам жвачку </p>




    <hr id="return"/>
    <h4>Возврат значения из метода </h4>
    <p>Console.WriteLine() в данном случае просто выводит на консоль то, что есть жвачка. По аналогии с реальным миром,
        автомат вывел нам на дисплей сообщение, а сам жвачку зажал. Мне, как потенциальному покупателю жвачки, такое не
        нравится, я хочу, чтобы она у меня была, потому что тогда я смогу сделать с ней все что угодно – сьесть,
        перепродать, отдать другу, раздавить (?) и так далее. Единственная задача автомата в данном случае –
        <b>вернуть</b> мне эту жвачку. </p>
    <p>Вернуть по-английски – return. Если я хочу вернуть какое-то значение из метода, мне так и нужно написать: <b>return
        значение</b></p>
    <p>Но если мы просто так это напишем и оставим, то у нас появится ошибка </p>
    <img src="{% static 'img/charp/16_methods/7_returnerror.png' %}" alt="Ошибка при return с void"/>
    <p>Он ругается на слово void и говорит, что его необходимо заменить. Чтобы его поменять, надо понять, что это </p>
    <p>Void, с английского, пустота. Void говорит о том, что метод ничего не возвращает, это просто коробка для кода.
        Если я хочу что-то вернуть, нужно сказать, что за тип данных будет возвращаться, и подставить этот тип данных
        вместо void </p>
    <p>Например, тут я возвращаю «жвачка». Она в кавычках, значит это текст. Если это текст, ее тип данных будет string.
        Следовательно, void нужно заменить на string </p>
    <div class="code-block">
        <p class="code-text">string Avtomat()
            {
            &nbsp; &nbsp; Console.WriteLine("Выбираю жвачку...");
            &nbsp; &nbsp; Console.WriteLine("Вот ваша жвачка!");
            &nbsp; &nbsp; return "жвачка";
            } </p>
    </div>
    <p>Если бы я возвращала число, вместо void стоял бы int. Если возвращаю символ – char и так далее. Кратко
        говоря: </p>
    <ul>
        <li>Void – пустота, метод ничего не возвращает и является просто хранилищем для кода</li>
        <li>Тип данных вместо void – метод возвращает какое-то значение этого типа данных</li>
    </ul>
    <p>Но опять же, при запуске визуально ничего не меняется. Как был вывод двух сообщений, так и остался. </p>
    <img src="{% static 'img/charp/16_methods/5_callresult.png' %}" alt="Результат вызова метода"/>
    <p>Зачем мы тогда все это делали? Цимес в следующем.</p>
    <p> Вспомним, что я хочу делать все что угодно с этой жвачкой – сьесть, перепродать, отдать другу. Чтобы это
        сделать, мне нужно поймать эту жвачку и положить ее себе в руки – только после этого я смогу с ней
        взаимодействовать </p>
    <p>Сейчас же, мы просто подходим к автомату, и он дает нам жвачку. Когда мы открываем крышку, жвачка просто падает в
        никуда и больше нигде и никогда не используется </p>
    <img src="{% static 'img/charp/16_methods/8_avtomat.png' %}" alt="Вызов автомата"/>
    <br/>
    <img src="{% static 'img/charp/16_methods/9_jvachkaloss.png' %}" alt="Жвачка потеряна"/>
    <p>Я же хочу сделать иначе – купленную мною жвачку из автомата я хочу взять в руки, а потом уже с ней
        взаимодействовать. Переводя на код, возвращенное значение из метода нужно сохранить в переменную, чтобы в
        будущем этим значением пользоваться </p>
    <img src="{% static 'img/charp/16_methods/10_avtomatwithvar.png' %}" alt="Сохранение значения из автомата"/>
    <br/>
    <img src="{% static 'img/charp/16_methods/11_jvachkainhands.png' %}" alt="Жвачка в руках"/>
    <p>Единственный вопрос, который может появиться – почему переменная именно типа данных string? Все очень просто –
        <b>какой тип данных возвращает метод, в такую переменную и нужно сохранить значение. </b></p>
    <p>Если мы не уверены в том, какой тип данных возвращает метод – посмотрите, что написано перед названием. В нашем
        случае – string </p>
    <div class="code-block">
        <p class="code-text">string ruchki = Avtomat();

            string Avtomat()
            {
            &nbsp; &nbsp; Console.WriteLine("Выбираю жвачку...");
            &nbsp; &nbsp; Console.WriteLine("Вот ваша жвачка!");
            &nbsp; &nbsp; return "жвачка";
            } </p>
    </div>
    <p>Если вы все еще не уверены, наведитесь на метод. Visual Studio подскажет, какой тип данных она возвращает </p>
    <img src="{% static 'img/charp/16_methods/12_methodreturn.png' %}" alt="Тип данных, что возвращает метод"/>
    <p>По той же аналогии работает Console.ReadLine() – метод включает консоль, ждет, пока пользователь впишет какое-то
        значение, а затем возвращает это значение из метода, а мы сохраняем ее в переменную </p>
    <img src="{% static 'img/charp/16_methods/13_readlinereturn.png' %}" alt="ReadLine возвращает string"/>
    <p>Далее мы уже можем что угодно делать с этой переменной – показать, изменить, передать, и прочее </p>
    <div class="code-block">
        <p class="code-text">string ruchki = Avtomat();

            Console.WriteLine("Вот что у меня в руках: " + ruchki);
            Console.WriteLine("Я отдам это другу");

            ruchki = "";
            Console.WriteLine("Вот что теперь в руках: " + ruchki);

            ////////////////////////////////

            string Avtomat()
            {
            &nbsp; &nbsp; Console.WriteLine("Выбираю жвачку...");
            &nbsp; &nbsp; Console.WriteLine("Вот ваша жвачка!");
            &nbsp; &nbsp; return "жвачка";
            } </p>
    </div>
    <img src="{% static 'img/charp/16_methods/14_progresult.png' %}" alt="Результат программы при возврате значения"/>
    <p>Единственное – автомат выдает нам жвачку каждый раз, когда мы его используем. Мы же должны закинуть в него
        монетку, т.е., передать какое-то значение в метод </p>








    <hr id="parameters"/>
    <h4>Передача параметров в метод</h4>
    <p>Кроме того, что метод может что-то вернуть, мы также можем в него что-то <b>передать</b>. Эти два функционала не
        связаны между собой, а значит все можно между собой комбинировать </p>
    <ul>
        <li>Метод может ничего не возвращать и ничего не принимать</li>
        <li>Метод может ничего не возвращать, но что-то принимать</li>
        <li>Метод может что-то возвращать, но ничего не принимать</li>
        <li>Метод может что-то возвращать, и что-то принимать</li>
    </ul>
    <p>В случае с автоматом, нам подойдет последний вариант – автомат <b>принимает</b> десятку и <b>возвращает</b>
        жвачку. Напомню зарисовку </p>
    <img src="{% static 'img/charp/16_methods/6_jvachkareturntransfer.png' %}"
         alt="Макет автомата с жвачкой с передачей и возвратом"/>
    <p>Чтобы что-то передать в метод, необходимо создать место, куда это значение пойдет. В случае с автоматом, место
        для приема монет – монетоприемник. В случае с методом – <b>параметр</b>, который выглядит как переменная внутри
        круглых скобок. Структура следующая </p>
    <div class="code-block">
        <p class="code-text">void SomeMethod(типданных название){

            } </p>
    </div>
    <p>По той же логике работает Console.WriteLine(). Внутрь круглых скобок мы пишем, что именно мы хотим передать
        внутрь метода. Чтобы метод принял это значение, он должен хранить его в переменной. </p>
    <img src="{% static 'img/charp/16_methods/15_paramstring.png' %}" alt="Передача значения"/>
    <p>В данном случае я хочу сделать монетоприемник, который будет принимать монетки по 10. Создам этот монетоприемник
        внутри метода. Хочу передавать туда числа, поэтому тип данных переменных будет int </p>
    <img src="{% static 'img/charp/16_methods/16_paraminmethod.png' %}" alt="Создание параметра в методе"/>
    <p>Заметьте, что раз у меня появился параметр, мне обязательно нужно передать туда какое-то значение. Без него метод
        теперь будет ругаться </p>
    <img src="{% static 'img/charp/16_methods/17_methodwithoutvalue.png' %}" alt="В методе нет значения - ошибка"/>
    <br/>
    <img src="{% static 'img/charp/16_methods/18_methodwithvalue.png' %}" alt="Передали параметр - ошибки нет"/>
    <p>Но я могу передать туда не только 10, я могу передать туда любое число. Поэтому давайте немного видоизменим наш
        код – поставим проверку на то, точно ли нам закинули десятку в автомат. </p>
    <div class="code-block">
        <p class="code-text">string Avtomat(int monetopriemnik)
            {
            &nbsp; &nbsp; if (monetopriemnik == 10)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Выбираю жвачку...");
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Вот ваша жвачка!");
            &nbsp; &nbsp; &nbsp; &nbsp; return "жвачка";
            &nbsp; &nbsp; }
            &nbsp; &nbsp; else
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Такую монету я не приму!");
            &nbsp; &nbsp; }
            } </p>
    </div>
    <p>Но при таком коде у нас будет появляться ошибка – не все пути к методу возвращают значение</p>
    <img src="{% static 'img/charp/16_methods/19_returnerror.png' %}" alt="Ошибка с возвратом значения"/>
    <p>Это происходит не из-за параметра, а из-за return. Если метод что-то возвращает, он должен что-то возвращать <b>всегда</b>,
        при любых поведениях метода. Сейчас он что-то возвращает только если в монетоприемнике есть десятка. Если в ней
        не десятка, он не знает, как себя вести, поэтому и ругается </p>
    <img src="{% static 'img/charp/16_methods/20_returnpaths.png' %}" alt="Макет возврата значений"/>
    <p>Даже если мы ничего не хотим возвращать, об этом нужно сказать. Давайте так и скажем, что мы вернем «ничего»,
        если монета не равна 10. </p>
    <img src="{% static 'img/charp/16_methods/21_returnineveryway.png' %}"
         alt="Возврат значения если число не равно 10"/>
    <p>Итого наш код будет выглядеть следующим образом </p>
    <div class="code-block">
        <p class="code-text">string ruchki = Avtomat(10);

            string Avtomat(int monetopriemnik)
            {
            &nbsp; &nbsp; if (monetopriemnik == 10)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Выбираю жвачку...");
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Вот ваша жвачка!");
            &nbsp; &nbsp; &nbsp; &nbsp; return "жвачка";
            &nbsp; &nbsp; }
            &nbsp; &nbsp; else
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Такую монету я не приму!");
            &nbsp; &nbsp; &nbsp; &nbsp; return "ничего"; // можно заменить на return ""; или return string.Empty;
            &nbsp; &nbsp; }
            } </p>
    </div>
    <p>Я могу передавать далеко не один параметр – их может быть бесконечное количество. Хочу передать что-то еще –
        создам еще один параметр для принятия значения извне, перечисляя их через запятую. </p>
    <p>Например, я хочу точно указать цвет жвачки, которую я хочу получить. Сделаю еще один параметр – colour. </p>
    <p>Передавать данные тогда мне нужно в строго том порядке, в котором они написаны внутри метода </p>
    <img src="{% static 'img/charp/16_methods/22_passingvalue.png' %}" alt="Передача нескольких значений"/>
    <p>(Если я явно буду указывать, в какой параметр идет значение, то можно не думать насчет порядка) </p>
    <img src="{% static 'img/charp/16_methods/23_passingvaluechaotically.png' %}"
         alt="передача нескольких значений вразнобой"/>
    <p>Код для нового параметра я также могу поменять </p>
    <div class="code-block">
        <p class="code-text">string ruchki = Avtomat(10, "зеленая");

            string Avtomat(int monetopriemnik, string colour)
            {
            &nbsp; &nbsp; if (monetopriemnik == 10)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Выбираю жвачку...");
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Вот ваша " + colour + " жвачка!");
            &nbsp; &nbsp; &nbsp; &nbsp; return colour + " жвачка";
            &nbsp; &nbsp; }
            &nbsp; &nbsp; else
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Такую монету я не приму!");
            &nbsp; &nbsp; &nbsp; &nbsp; return "ничего"; // можно заменить на return ""; или return string.Empty;
            &nbsp; &nbsp; }
            } </p>
    </div>
    <p>Однако бывают случаи, когда я не хочу использовать вторую переменную – некоторые автоматы могут быть без выбора
        цвета. Как быть? </p>
    <p class="text-center"><b>1. Дать переменной значение по умолчанию. Эти переменные должны быть в конце </b></p>
    <p>Как и когда я объявляю переменные, я могу дать им сразу значение, так и в параметрах, я могу им дать значение,
        которое возьмется по умолчанию. Например, значение по умолчанию у colour поставлю «цветная» </p>
    <div class="code-block">
        <p class="code-text">string Avtomat(int monetopriemnik, string colour = "цветная")
        </p>
    </div>
    <p>Тогда я могу не передавать значения в эту переменную. Если я его не передаю, он возьмет значение по
        умолчанию </p>
    <img src="{% static 'img/charp/16_methods/24_passandnopass.png' %}" alt="Передача и непередача параметра"/>
    <p class="text-center"><b>2. Сделать новый метод с тем же названием, но с другим количеством параметров </b></p>
    <p>У разных автоматов может быть разный функционал, но от этого он не перестает быть автоматом. Также и с методами.
        Делают они одно и то же – выдают жвачку, так что имена будут одинаковыми. Однако количество параметров и код
        внутри будут отличаться.</p>
    <p class="text-center"><b>ЕДИНСТВЕННОЕ – так может работать только внутри класса, либо, когда есть class Program и
        отдельный метод Main. Так как мы хотим вызывать методы внутри Main, который является статичным методом, все
        остальные методы тоже должны быть static. </b></p>
    <img src="{% static 'img/charp/16_methods/25_fullcodewithvariants.png' %}"
         alt="Два метода - один с одним параметром, другой с двумя"/>
    <p></p>
    <img src="{% static 'img/charp/16_methods/26_twomethodspassnopass.png' %}"
         alt="Вызов двух методов - с параметром и без"/>
    <p>Итоговый код будет выглядеть так </p>
    <div class="code-block">
        <p class="code-text">internal class Program
            {
            &nbsp; &nbsp; private static void Main(string[] args)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; string ruchki = Avtomat(10);
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine(ruchki);

            &nbsp; &nbsp; &nbsp; &nbsp; ruchki = Avtomat(10, "зеленая");
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine(ruchki);
            &nbsp; &nbsp; }

            &nbsp; &nbsp; static string Avtomat(int monetopriemnik)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; if (monetopriemnik == 10)
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Выбираю жвачку...");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Вот ваша жвачка!");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return "жвачка";
            &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; else
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Такую монету я не приму!");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return "ничего";
            &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; }

            &nbsp; &nbsp; static string Avtomat(int monetopriemnik, string colour)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; if (monetopriemnik == 10)
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Выбираю жвачку...");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Вот ваша " + colour + " жвачка!");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return colour + " жвачка";
            &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; else
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Такую монету я не приму!");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return "ничего";
            &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; }
            } </p>
    </div>
    <p>Когда использовать первый, а когда второй вариант? </p>
    <ol>
        <li>Первый вариант с значениями по умолчанию нужно использовать, когда эти значения сто процентов нужны. Они
            используются в коде метода, но функционал может немного варьироваться в зависимости от того, какое значение
            было передано
        </li>
        <li>Второй вариант с двумя методами с разным количеством параметров можно использовать, когда код сильно
            меняется в зависимости от передаваемых параметров. Также можно использовать, когда второй параметр для
            другого функционала является обязательным.
        </li>
    </ol>
{% endblock %}