{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#creation" class="default-link">Создание класса</a></li>
        <li><a href="#using" class="default-link">Использование новых типов данных </a></li>
        <li><a href="#collections" class="default-link">Коллекции с типом данных </a></li>
    </ul>

{% endblock %}


{% block previousPage %} {% url 'methods' %} {% endblock %}
{% block nextPage %} {% url 'ternar' %} {% endblock %}


{% block main_info %}
    <h2>Создание своих типов данных </h2>
    <p>Кроме каких-то базовых типов данных, мы еще можем создавать и свои типы данных. Все в этом мире может быть типом
        данных – напитки, здания, компьютеры и прочее. Все из этих сущностей хранят в себе какие-то пункты, атрибуты, по
        которым их можно характеризовать </p>
    <p>Например, возьмем пиццу. Пиццы бывают разные: маргарита, гавайская, 4 сыра, однако все это пицца. Также пиццы
        бывают разного диаметра – 26, 30, 38 дюймов. Опять же, размер разный, но пицца остается пиццей </p>


    <hr id="creation"/>
    <h4>Создание класса</h4>
    <p>Давайте создадим тип данных «Pizza». Для этого нам нужно создать новый класс. Нажимаем ПКМ по названию нашего
        проекта, находим «Добавить» и в списке находим «Класс» </p>
    <img src="{% static 'img/charp/17_classasmodel/1_creation.png' %}" alt="Открытие окошка для создания"/>
    <p>В появившемся диалоговом окне подтвердим, что это класс, дадим название нашему классу внизу экрана, а затем
        нажмем добавить. <b>Я назову класс Pizza, так как хочу, чтобы мой будущий тип данных назывался также </b></p>
    <img src="{% static 'img/charp/17_classasmodel/2_creation_part_2.png' %}"
         alt="Окошко с выбором элемента для создания"/>
    <p>Перед нами создается точно такой же класс, как и Program, только без метода Main внутри и с другим именем. Внутри
        этого класса мы как раз и будем создавать некие атрибуты, характеризующие нашу пиццу </p>
    <div class="code-block">
        <p class="code-text"> namespace ConsoleApp2
            {
            &nbsp; &nbsp;internal class Pizza
            &nbsp; &nbsp;{
            &nbsp; &nbsp;}
            }</p>
    </div>
    <p>Выше мы уже перечислили, что </p>
    <ul>
        <li>У пиццы есть название – маргарита, гавайская, 4 сыра - текст</li>
        <li>У пиццы есть диаметр – 28, 30, 38 – целое число</li>
    </ul>
    <p>Давайте прямо внутри этого класса создадим такие переменные </p>
    <div class="code-block">
        <p class="code-text"> internal class Pizza
            {
            &nbsp; &nbsp;string Name;
            &nbsp; &nbsp;int Diameter;
            }
        </p>
    </div>
    <p>Однако, чтобы эти переменные работали не только в этом классе, им нужно добавить слово public перед их типом
        данных. Более подробно поговорим об этом в теме с инкапсуляцией.
    </p>
    <div class="code-block">
        <p class="code-text"> internal class Pizza
            {
            &nbsp; &nbsp;public string Name;
            &nbsp; &nbsp;public int Diameter;
            }
        </p>
    </div>
    <p>На этом, создание нашего нового типа данных закончено. Теперь, как его использовать?
    </p>





    <hr id="using"/>
    <h4>Использование новых типов данных </h4>
    <p>После создания нового типа данных, давайте вернемся в наш класс Program и попробуем поработать с нашим типом
        данных.

        Имя нашего типа данных такое же, как у названия класса – Pizza. Классы – сложный тип данных, значит создавать
        новую переменную мы будем по шаблону </p>
    <p class="text-center"><b>типданных название = new типданных; </b></p>
    <p>В конце, как всегда, ставим то, на что ругается код, в этом случае – круглые скобки. По-умному – мы создаем новый
        экземпляр класса </p>
    <p>Например, я хочу создать маргариту</p>
    <img src="{% static 'img/charp/17_classasmodel/3_margarita.png' %}" alt="Создание переменной"/>
    <p>Однако я помню, что у меня внутри пиццы есть еще две переменные – Name и Diameter, я также хочу задать им
        значения. </p>
    <p>Я хочу использовать маргариту, <b>а именно</b> (пишу точку), название. Оно будет равно «маргарита» </p>
    <img src="{% static 'img/charp/17_classasmodel/4_margaritaname.png' %}" alt="Название маргариты"/>
    <p>Я хочу использовать маргариту, а именно, диаметр. Оно будет равно 28 </p>
    <img src="{% static 'img/charp/17_classasmodel/5_margarirtadiam.png' %}" alt="Диаметр маргариты"/>
    <p>Таким же образом я могу вывести значения из маргариты </p>
    <div class="code-block">
        <p class="code-text">Pizza margarita = new Pizza();
            margarita.Name = "Маргарита";
            margarita.Diameter = 28;

            Console.WriteLine(margarita.Name);
            Console.WriteLine(margarita.Diameter);</p>
    </div>
    <img src="{% static 'img/charp/17_classasmodel/6_output.png' %}" alt="Вывод значений"/>
    <p>Также, я могу сразу же при создании своей переменной дать ей значения, указав в фигурных скобках что к чему
        относится. Принцип такой же, как в массивах, в фигурных скобках мы передаем все элементы через запятую. Но так
        как у элементов есть еще и название, то его мы тоже указываем. </p>
    <div class="code-block">
        <p class="code-text">Pizza margarita = new Pizza()
            {
            &nbsp; &nbsp; Name = "Маргарита",
            &nbsp; &nbsp; Diameter = 28
            };

            Console.WriteLine(margarita.Name);
            Console.WriteLine(margarita.Diameter);</p>
    </div>
    <img src="{% static 'img/charp/17_classasmodel/6_output.png' %}" alt="Вывод значений"/>





    <hr id="collections"/>
    <h4>Коллекции с типом данных</h4>
    <p>Также, раз это самый настоящий тип данных, то с помощью него можно делать различные виды коллекций. </p>
    <div class="code-block">
        <p class="code-text">//меню из 10 пицц
            Pizza[] menu = new Pizza[10];

            //меню где могут быть разное кол-во пицц
            List&lt;Pizza&gt; menuList = new List&lt;Pizza&gt;();</p>
    </div>
    <p>Внутрь этих коллекций я уже буду добавлять не просто значение, а целую переменную с данными о пицце </p>
    <div class="code-block">
        <p class="code-text">Pizza margarita = new Pizza();
            margarita.Name = "Mаргарита";
            margarita.Diameter = 28;

            //меню из 10 пицц
            Pizza[] menu = new Pizza[10];
            menu[0] = margarita;

            //меню где могут быть разное кол-во пицц
            List&lt;Pizza&gt; menuList = new List&lt;Pizza&gt;();
            menuList.Add(margarita);</p>
    </div>
    <p>А также при перечислении циклом мне необходимо будет работать именно с этим типом данных, т.е. чтобы что-то
        вывести, нам опять нужно писать точку и что именно мы хотим взять оттуда </p>
    <div class="code-block">
        <p class="code-text">foreach (Pizza pos in menuList)
            {
            &nbsp; &nbsp; Console. WriteLine(pos.Name);
            &nbsp; &nbsp; Console. WriteLine(pos. Diameter);
            }</p>
    </div>
{% endblock %}