{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#creation" class="default-link">Создание класса и написание кода в нем</a></li>
        <li><a href="#constructor" class="default-link">Передача данных в момент создания экземпляра - конструкторы </a>
        </li>
    </ul>

{% endblock %}


{% block previousPage %} {% url 'classasmodel' %} {% endblock %}
{% block nextPage %} {% url 'modifiers' %} {% endblock %}


{% block main_info %}
    <h2>Классы как контейнеры для кода</h2>
    <p>В статье <a href="{% url 'classasmodel' %}" class="default-link">"Классы как свои типы данных"</a>. Они пишутся в
        отдельных классах, где достаточно просто указать все атрибуты объекта в виде обычных переменных. Однако классы
        существуют не только для того, чтобы хранить в себе переменные, но и для того, чтобы хранить в себе методы,
        подобно методу Main в классе Program. То есть класс – это большая коробка для некоторых задач внутри. </p>
    <p>Понадобится класс может для двух вещей. Первое – удобный перенос кода из программы в программу. Взял, скопировал
        файл, вставил в другой код, все. Работает.

        Второе рассмотрим на примере <a href="{% url 'arrowmenu' %}" class="default-link">стрелочного меню</a>. Если у
        нас, например, 100 файлов в проекте, и мы хотим, чтобы в 5
        из них было стрелочное меню, мы должны вынести код в отдельный класс и постоянно обращаться к нему, чтобы не
        пришлось копировать этот код 5 раз </p>


    <hr id="creation"/>
    <h4>Создание класса и написание в нем кода</h4>
    <p>Возьмем как раз этот пример со стрелочным меню. Напишу маленькую программу, где центральный блок и будет являться
        стрелочным меню </p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/1_arrowexample.png' %}" alt="Пример кода стрелочного меню"/>
    <p>Именно это я и хочу вынести в отдельный класс, чтобы я смогла использовать этот код везде. Чтобы его перенести в
        класс, надо этот класс создать. Для этого нажимаем ПКМ по названию нашего проекта, находим «Добавить» и в списке
        находим «Класс» </p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/2_elementcreation.png' %}" alt="Открытие окна создания"/>
    <p>В появившемся диалоговом окне подтвердим, что это класс, дадим название “Menu” нашему классу внизу экрана, а
        затем нажмем добавить. </p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/3_classcreation.png' %}" alt="Создание класса"/>
    <p>Весь код не может просто хранится в файле. Из предыдущих статей мы узнали, что код хранится в <a
            href="{% url 'methods' %}" class="default-link">методах</a>, а методы -
        в <b>классах</b>. На подобии того, как метод Main хранится в классе Program, так и тут, создадим метод для
        стрелочного меню, который будет хранится в классе Menu. Назову его Show() </p>
    <p class="text-center"><b>Static в наших новых классах писать не нужно, метод можно создать и без него </b></p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/4_analogy.png' %}" alt="Аналогия создания метода"/>
    <p>И в этот метод и перемещу наше стрелочное меню </p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/5_transfer.png' %}" alt="Перенос кода в метод класса"/>
    <div class="code-block">
        <p class="code-text">internal class Menu
            {
            &nbsp; &nbsp; void Show()
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; int pos = 1;
            &nbsp; &nbsp; &nbsp; &nbsp; ConsoleKeyInfo key;
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; do
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, pos);
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("->");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; key = Console.ReadKey();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, pos);
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (key.Key == ConsoleKey.UpArrow && pos != 1)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos--;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else if (key.Key == ConsoleKey DownArrow &S pos != 4)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos++;
            &nbsp; &nbsp; &nbsp; &nbsp; } while (key.Key != Consolekey Enter);
            &nbsp; &nbsp; }
            }
        </p>
    </div>
    <p>Но появились проблемы – в основной программе теперь стрелочного меню нет, так еще и ругается на отсутствие
        позиции, потому что позиция стрелочки была в стрелочном меню. </p>
    <p>Чтобы вернуть позицию стрелки, давайте просто <b>вернем позицию</b> из метода. В конце метода пишем return pos и
        не забываем изменить void на int, так как pos это число, значит возвращаем тоже число! </p>
    <div class="code-block">
        <p class="code-text">internal class Menu
            {
            &nbsp; &nbsp; <b>int</b> Show()
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; int pos = 1;
            &nbsp; &nbsp; &nbsp; &nbsp; ConsoleKeyInfo key;
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; do
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, pos);
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("->");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; key = Console.ReadKey();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, pos);
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (key.Key == ConsoleKey.UpArrow && pos != 1)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos--;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else if (key.Key == ConsoleKey DownArrow &S pos != 4)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos++;
            &nbsp; &nbsp; &nbsp; &nbsp; } while (key.Key != Consolekey Enter);
            &nbsp; &nbsp; &nbsp; &nbsp; <b>return pos;</b>
            &nbsp; &nbsp; }
            }
        </p>
    </div>
    <p>Теперь проблема с отсутствием стрелочного меню в Program.cs. Метод Show надо там вызвать. А достанем мы его
        также, как мы доставали элементы из пиццы. </p>
    <p>По факту, пицца (тот класс из статьи с <a href="{% url 'classasmodel' %}" class="default-link">собственными
        типами данных</a>) – это класс. Мы запихнули внутрь переменные, сказали, что они <b>публичные</b>, и с работали
        с ним как с типом данных. <b>Класс Menu ничем не отличается, что то класс, что это класс, только в первом случае
            мы хранили внутри переменные, а во втором случае мы храним там методы </b></p>
    <p> Это значит, что я могу создать Menu там, где мне нужно, в качестве переменной. А потом через точку обратиться к
        методу внутри. </p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/6_internal.png' %}"
         alt="Internal позволяет видеть класс в других файлах"/>
    <p>И нужно не забыть метод сделать публичным, чтобы не было ошибки! </p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/7_public.png' %}" alt="Public делает метод доступным"/>
    <p>
        Итого, двумя строками, мы вернули обратно наше стрелочное меню. Единственное что - переменную pos нужно вернуть,
        чтобы выбор стрелки смог вернуться в Program.cs </p>
    <p>Код Menu.cs</p>
    <div class="code-block">
        <p class="code-text">internal class Menu
            {
            &nbsp; &nbsp; public int Show()
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; public int pos = 1;
            &nbsp; &nbsp; &nbsp; &nbsp; ConsoleKeyInfo key;
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; do
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, pos);
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("->");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; key = Console.ReadKey();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, pos);
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (key.Key == ConsoleKey.UpArrow && pos != 1)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos--;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else if (key.Key == ConsoleKey DownArrow &S pos != 4)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos++;
            &nbsp; &nbsp; &nbsp; &nbsp; } while (key.Key != Consolekey Enter);
            &nbsp; &nbsp; &nbsp; &nbsp; return pos;
            &nbsp; &nbsp; }
            }
        </p>
    </div>
    <p>Код Program.cs</p>
    <div class="code-block">
        <p class="code-text">
            Console.WriteLine("какой цвет вы любите?");
            Console.WriteLine(" 1. красный");
            Console.WriteLine(" 2. желтый");
            Console.WriteLine(" 3. зеленый");
            Console.WriteLine(" 4. синий");

            Menu menu = new Menu(); //если подсвечивается ошибка, нажмите alt + enter и enter
            int pos = menu.Show();

            Console.Clear();
            if (pos == 1)
            &nbsp; &nbsp; Console.WriteLine("супер красный");</p>
    </div>
    <p class="text-center">Но есть проблема</p>
    <p>Стрелочное меню прекрасно работает, если меню будет состоять из 4 пунктов. Если пунктов станет меньше или больше,
        то меню все еще будет расчитано на 4 пункта, так как в стрелочном меню хардкодом стоит ограничение от 1 до
        4 </p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/8_staticpos.png' %}" alt="Количество элементов меню ограничено"/>
    <p>Чтобы его поменять, давайте введем публичные переменные для минимума и максимума. Значение для них будем
        передавать из Program.cs. Переменные мы будем создавать как для пиццы,
        <b>над</b> методами. Такие переменные называются глобальные, так как они существуют для всего класса. </p>
    <p>Передаем значения как для пиццы – хочу воспользоваться menu, а именно (пишу точку) – min или max стрелочкой </p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/9_passingpos.png' %}" alt="Передача позиции в класс"/>
    <p>Тогда, в зависимости от количества элементов в меню, значение для максимальной стрелочки можно будет
        изменить. </p>
    <p class="text-center">Но и здесь есть проблема! </p>
    <p>Заключается она в огромном количестве public. Сейчас мы бездумно ставим public на все то, к чему хотим иметь
        доступ, а так делать нельзя. Если мы ставим public для переменной\метода\класса, значит мы говорим, что этим
        объектом можно воспользоваться где угодно, как угодно и когда угодно, даже не воспользоваться вовсе. Но
        рассмотрим, что будет, если мы не будем указывать минимальную и максимальную стрелку – она же public, можем с
        ней сделать все что угодно </p>
    <p>В этом случае, стрелка сможет уходить далеко вниз. А если она поднимется на 0 строчку, то там и застрянет, так
        как значения для чисел по умолчанию равны нулю, получается, минимальная и максимальная стрелка равны нулю </p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/10_minmaxzero.png' %}"
         alt="Минимальное и максимальное значение ничему не равно"/>
    <p>Я не хочу, чтобы у другого программиста, либо у меня через полгода, когда я уже в конец забуду все, что я здесь
        понаписала, была возможность сломать мое стрелочное меню. Поэтому есть одно правило </p>
    <p class="text-center"><b>Все, что ломает логику должно быть скрыто – private. Все, что никак не ломает логику
        должно быть открыто – public. </b></p>
    <p>Принцип называется сокрытие. Работает внутри инкапсуляции (обеспечение правильности выполнения какого-либо
        процесса при помощи сокрытия одних методов и показывания других, спасибо википедия). Подробнее об инкапсуляции
        можете посмотреть в статье о <a href="{% url 'modifiers' %}" class="default-link">модификаторах доступа</a></p>
    <p>По этой логике, наши переменные должны быть приватные, так как они могут сломать логику нашего стрелочного
        меню. </p>
    <div class="code-block">
        <p class="code-text">internal class Menu
            {
            &nbsp; &nbsp; private int minStrelochka;
            &nbsp; &nbsp; private int maxStrelochka;
            &nbsp; &nbsp;
            &nbsp; &nbsp; public int Show()
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; public int pos = 1;
            &nbsp; &nbsp; &nbsp; &nbsp; ConsoleKeyInfo key;
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; do
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, pos);
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("->");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; key = Console.ReadKey();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, pos);
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (key.Key == ConsoleKey.UpArrow && pos != minStrelochka)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos--;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else if (key.Key == ConsoleKey DownArrow &S pos != maxStrelochka)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos++;
            &nbsp; &nbsp; &nbsp; &nbsp; } while (key.Key != Consolekey Enter);
            &nbsp; &nbsp; &nbsp; &nbsp; return pos;
            &nbsp; &nbsp; }
            }
        </p>
    </div>
    <p>Но мне все равно нужно передать в них значения. Как быть? Я могу передать значения в момент создания
        переменной </p>







    <hr id="constructor"/>
    <h4>Передача данных в момент создания экземпляра - конструкторы</h4>
    <p>Для этого, я мне нужно создать <b>конструктор</b> – некий метод, который будет работать при создании моего типа
        данных. Этот метод у меня будет возвращать тип данных моего класса, т.е. Calculator. Названия у него не будет.
        Если кратко, пишется как <b>public НазваниеКласса() {}</b>. Во всем остальном работает как метод </p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/11_constructcreation.png' %}" alt="Создание конструктора"/>
    <p>А раз он работает как метод, значит я могу сделать приемники для своих двух значений – минимум и максимум.
        Значение из этих приемников я запишу в переменные minStrelochka и maxStrelochka, потому что именно они работают
        с кодом внутри класса</p>
    <p>Кратко: minStrelochka и maxStrelochka – переменные, которые не видны другим классам, но видны всем методам <b>внутри</b>
        своего класса. Они нужны для внутреннего кода стрелочного меню. Min и max – переменные, которые не видны методам
        внутри класса, но видны <b>другим</b> классам. Через них мы передаем значение внутрь стрелочного меню </p>
    <img class="mw-100" src="{% static 'img/charp/18_classascontainer/12_passinconstruct.png' %}" alt="Передача данных в конструктор"/>
    <p>Таким образом мы можем создавать класс с какой-либо логикой, и передавать туда значения, чтобы метод был максимально универсальным. Итоговый код выглядит так</p>
    <p>Код Menu.cs</p>
    <div class="code-block">
        <p class="code-text">internal class Menu
            {
            &nbsp; &nbsp; private int minStrelochka;
            &nbsp; &nbsp; private int maxStrelochka;
            &nbsp; &nbsp;
            &nbsp; &nbsp; public Menu(int min, int max)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; minStrelochka = min;
            &nbsp; &nbsp; &nbsp; &nbsp; maxStrelochka = max;
            &nbsp; &nbsp; }
            &nbsp; &nbsp; 
            &nbsp; &nbsp; public int Show()
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; public int pos = 1;
            &nbsp; &nbsp; &nbsp; &nbsp; ConsoleKeyInfo key;
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; do
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, pos);
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("->");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; key = Console.ReadKey();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, pos);
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("");
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (key.Key == ConsoleKey.UpArrow && pos != 1)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos--;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else if (key.Key == ConsoleKey DownArrow &S pos != 4)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos++;
            &nbsp; &nbsp; &nbsp; &nbsp; } while (key.Key != Consolekey Enter);
            &nbsp; &nbsp; &nbsp; &nbsp; return pos;
            &nbsp; &nbsp; }
            }
        </p>
    </div>
    <p>Код Program.cs</p>
    <div class="code-block">
        <p class="code-text">
            Console.WriteLine("какой цвет вы любите?");
            Console.WriteLine(" 1. красный");
            Console.WriteLine(" 2. желтый");
            Console.WriteLine(" 3. зеленый");
            Console.WriteLine(" 4. синий");

            Menu menu = new Menu(1, 4); //если подсвечивается ошибка, нажмите alt + enter и enter
            int pos = menu.Show();

            Console.Clear();
            if (pos == 1)
            &nbsp; &nbsp; Console.WriteLine("супер красный");</p>
    </div>
{% endblock %}