{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#variables" class="default-link">Переменные</a></li>
        <li><a href="#writeline" class="default-link">Вывод в консоль - Console.WriteLine</a></li>
        <li><a href="#readline" class="default-link">Ввод в консоль - Console.ReadLine</a></li>
    </ul>

{% endblock %}

{% block nextPage %} {% url 'converters' %} {% endblock %}

{% block main_info %}
    <h2 class="anchor" id="variables">Переменные</h2>
    <p>
        Переменная — некое значение, которому дали имя. Значение внутри переменной может меняться. Кратко говоря —
        коробочка с названием, в которой мы можем хранить что-то одного типа. Например\
    </p>
    <ul>
        <li>
            В коробку «ТолькоКрасные» я могу положить только красные карандаши и не могу положить синие. Однако
            количество и вид карандаша может быть любым.
            Здесь «карандаш» — тип данных, а «ТолькоКрасные» — имя переменной
        </li>
        <li>
            В коробку «MyNumber» я могу положить только целое число и не могу положить дробное. Однако число может быть
            любое
            Целое число — тип данных. MyNumber — название переменной
        </li>
    </ul>
    <p>
        Базовые типы данных в C# очень много. Мы можем взять парочку основных:
    </p>

    <ul>
        <li>
            int - целое число
        </li>
        <li>
            double - дробное (потому что два числа, разделенные точкой, 45.5, double - два)
        </li>
        <li>
            string - текст
        </li>
        <li>
            char – символ
        </li>
        <li>
            bool – буленово значение
        </li>
    </ul>
    <img class="mw-100" src="{% static 'img/charp/1_Variables/1datatypes.png' %}" alt="Распространенные типы данных"/>

    <p style="text-align: center">
        Их все (и даже больше!) можно использовать для того, чтобы создавать переменные. Создаются они по примеру <b>
        типданных название;</b>
    </p>

    <hr/>

    <p>
        Создадим переменную MyNumber из верхнего примера. Мы уже знаем, что целое число это int, значит у нас получится
    </p>

    <div class="code-block">
        <p class="code-text"> int MyNumber;
        </p>
    </div>

    <p>
        В конце каждой строчки в C# мы будем писать точку с запятой. Она – аналогия точки в предложениях. Мысль
        закончена – ставим точку. Создали переменную, присвоили значение, блаблабла – ставим точку с запятой.
    </p>
    <p>
        Изначально, внутри переменной ничего нет. Ничего в мире программирования – null. Чтобы присвоить ей значение, мы
        пишем, что наша <b>переменная равна значению.</b> Не наоборот, иначе ничего не заработает! Присваивание значения
        это
        всегда переменная = значение
    </p>
    <div class="code-block">
        <p class="code-text"> int MyNumber;
            MyNumber = 1;
        </p>
    </div>

    <p>
        Также, значение в эту переменную можно сразу записать при ее создании, не разбивая код на две строки. Тогда,
        верхние две строчки сократятся в одну
    </p>
    <div class="code-block">
        <p class="code-text"> int MyNumber = 1;
        </p>
    </div>

    <p>
        Наше «ничего», т.е. null, тоже можно присвоить, но только к типам данных, которые не являются числами
    </p>
    <div class="code-block">
        <p class="code-text"> string myText = null; //все ок, но ему не очень нравится, что переменная пустая
            int MyNumber = null; //не ок, null для чисел - 0
        </p>
    </div>

    <p>
        Чтобы все равно разрешить хранение null в переменной, даже в числовых, после типа данных нужно поставить «?».
    </p>
    <div class="code-block">
        <p class="code-text"> string? myText = null; //все ок
            int? MyNumber = null; //все ок
        </p>
    </div>

    <p>
        Запомните этот символ как «штучка для null», она вам понадобится, когда мы будем разбирать такую вещь, как
        тернарные
        выражения. Но об этом позже
    </p>
    <p>
        Вернемся к созданию переменных. Если их много и они все одного типа данных, их можно обьявить подряд, через
        запятую.
    </p>
    <div class="code-block">
        <p class="code-text"> int numberThree, numberFour, numberFive;
            numberThree = 3;
            numberFour = 4;
            numberFive = 5;
        </p>
    </div>

    <p>
        Также, помним что значение наших переменных можно записать сразу при создании, тогда строка будет выглядеть
        следующим образом.
    </p>
    <div class="code-block">
        <p class="code-text"> int numberThree = 3, numberFour = 4, numberFive = 5;
        </p>
    </div>

    <hr/>

     <h2 class="anchor" id="writeline">Ввод-вывод в консоль</h2>
    <p>
        Ввод и вывод в консоль — это методы (блок кода, которому дали название, позже подробнее о них поговорим). У всех
        методов после их имени будут стоять круглые скобки.
    </p>
    <p>
        С названиями в C# все очень просто – я хочу <b>написать строку</b> или <b>прочитать строку</b> в консоли. Все
        что мне нужно –
        запастись переводчиком или знанием английского языка, и перевести необходимое мне действие.
    </p>

    <p style="text-align: center">
        Я хочу <b>написать строку</b> – I want to <b>write a line</b>
    </p>

    <p>Чаще всего вы встретитесь с тем, что такой метод реально существует, и его можно использовать. С вводом-выводом
        данных в консоль история такая же.</p>

    <p>Итак, ввод и вывод в консоль, это методы ReadLine() и WriteLine() соответственно. Но просто так в код их вписать
        не
        получится: пустой код и внезапное ReadLine() выдаст ошибку, потому что он не понимает, откуда взять логику для
        ReadLine – может я читаю строку из файла, из консоли, из программы?</p>

    <p>Мы должны сказать коду, что мы хотим использовать консоль, <b>а именно</b>, методы ReadLine() или WriteLine()</p>

    <p>Если мы слышим это «а именно», значит между первым словом (в нашем случае, консоль), и вторым (ReadLine() или
        WriteLine()) будет стоять точка</p>

    <p> Итого, методы для ввода вывода: <b>Console.ReadLine()</b> и <b>Console.WriteLine()</b></p>


    <hr/>
    <h4>Console.WriteLine();</h4>
    <p>С помощью этого метода мы можем вывести каждый раз новую строку в нашу консоль. Например следующий код выведет
        нам в
        консоль Hello, world! и нажмет энтер</p>

    <div class="code-block">
        <p class="code-text">Console.WriteLine("Hello, world!");</p>
    </div>

    <img class="mw-100" src="{% static 'img/charp/1_Variables/2helloworld.png' %}" alt="Вывод Hello world"/>

    <p>Как мы выводим значение напрямую, таким же способом мы можем вывести число 5, 45.5, букву к и прочее – все что
        угодно может находится внутри этих круглых скобок. </p>
    <p>И тут можно вспомнить, что значения могут хранится еще и в переменных. Их тоже можно вывести! Просто вместо
        значения в Console.WriteLine нужно написать название переменной. Следующий код выведет одно и то же</p>

    <div class="code-block">
        <p class="code-text">Console. WriteLine("Hello, world!");

            string hiiii = "Hello, world!";
            Console. WriteLine(hiiii);</p>
    </div>
    <img class="mw-100" src="{% static 'img/charp/1_Variables/3twohelloworld.png' %}" alt="Вывод двух Hello world"/>

    <p>
        Здесь нужно запомнить о переменных одну вещь: переменная – прозвище для какого-либо значения. Как например, меня
        зовут София, но друзья называют меня Софа. София – значение, Софа - прозвище
    </p>
    <ul>
        <li>Ко мне можно обратиться по полному имени</li>
        <li>Ко мне можно обратиться по прозвищу</li>
    </ul>

    <div class="code-block">
        <p class="code-text">string sofa = "София";

            Console.WriteLine("София");
            Console.WriteLine(sofa);</p>
    </div>


    <p>И результат будет единым – вы все равно обратитесь ко мне :)</p>
    <img class="mw-100" src="{% static 'img/charp/1_Variables/4sofia.png' %}" alt="Два вывода София"/>

    <p>Поэтому для обращения к любому значению внутри переменной – просто введите название переменной. Это также
        увеличит читаемость кода, если вы будете давать значениям понятные прозвища</p>
    <p> Также, если вы не хотите переносить текст на новую строку, вы можете использовать обычный Console.Write(). Тогда
        значения будут идти в строчку</p>

    <div class="code-block">
        <p class="code-text">string sofa = "София";

            Console.Write("София");
            Console.Write(sofa);</p>
    </div>
    <img class="mw-100" src="{% static 'img/charp/1_Variables/5sofiainline.png' %}" alt="Два вывода София в одну строку"/>

    <hr/>
    <h4 id="readline">Console.ReadLine();</h4>

    <p>Этот метод позволяет нам считать целую введенную <b>строку</b> из консоли.</p>
    <p>C# - строго типизированный язык, а значит, он не может сам понять, что ему ввели. Он просто знает, что что-то
        ввели с клавиатуры. 5, true, блабла, все что вы читаете – <b>текст</b>, который был введен с клавиатуры. А тип
        данных
        для текста – string.
    </p>
    <p>Введенное нами значение надо где-то хранить, поэтому сделаем переменную типа данных string и присвоим ей значение
        из консоли</p>

    <div class="code-block">
        <p class="code-text">string input = Console.ReadLine();</p>
    </div>

    <p>С этим значением мы тоже можем делать что угодно – выводить, резать, взять только первый символ, но только в
        рамках текста. Что делать если мы ввели цифру 5 и хотим работать с ней прямо как с цифрой, а не как с текстом?
        Об этом вы можете просмотреть в статье о
        <a class="default-link" href="{% url 'converters' %}">конвертации</a> данных</p>

{% endblock %}