{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#create" class="default-link">Создание папок</a></li>
        <li><a href="#delete" class="default-link">Удаление папок</a></li>
        <li><a href="#systemFolders" class="default-link">Использование системных папок</a></li>
        <li><a href="#additional" class="default-link">Дополнительные методы</a></li>
    </ul>

{% endblock %}

{% block previousPage %} {% url 'xml' %} {% endblock %}
{% block nextPage %} {% url 'process' %} {% endblock %}


{% block main_info %}
    <h2 class="anchor">Работа с папками </h2>
    <p>Мы уже научились работать с папками, однако, если мы в
        <a href="{% url 'files' %}" class="default-link">чтении или записи файла</a> впишем путь до папки (именно папки,
        не файла!), которой не существует, мы увидим следующую ошибку </p>
    <img class="mw-100" src="{% static 'img/charp/24_directory/1_pathnotfound.png' %}" alt="Часть пути не найдена"/>
    <p>Для того, чтобы она не появлялась, нам необходимо научится работать с папками </p>


    <hr class="anchor" id="create"/>
    <h2>Создание папок</h2>
    <p>Для начала научимся создавать папки. Я хочу использовать папки (Directory), а именно, создать папку. Я так и
        напишу – Directory.CreateDirectory(). Внутри я укажу полный путь до папки, которую я хочу создать</p>
    <p class="text-center"><b>ВАЖНО! Я пишу СВОЙ путь до рабочего стола. У меня рабочий стол находится на диске Д. Чтобы
        вам протестировать отработку метода, выберите любую папку на своем компьютере и скопируйте полный путь от
        нее. А в конце, на коде, добавьте \\Не существует.</b></p>
    <div class="code-block">
        <p class="code-text">Directory.CreateDirectory("D:\\Рабочий стол\\He существует");</p>
    </div>
    <p>Этот метод позволит нам создать все вложенные папки, которых не существует. Например, я внутри папки хочу создать
        еще папку «Тоже не существует». Мне не нужно прописывать две разные строчки, я могу сразу все написать в
        одной </p>
    <div class="code-block">
        <p class="code-text">Directory.CreateDirectory("D:\\Рабочий стол\\He существует\\Тоже не существует");</p>
    </div>
    <img class="mw-100" src="{% static 'img/charp/24_directory/2_dirpaths.png' %}" alt="Созданные папки"/>
    <p>Если такая папка уже создана, код ничего не сделает </p>



    <hr class="anchor" id="delete"/>
    <h2>Удаление папок</h2>
    <p>Кроме создания можно еще и удалять папки. Для этого я хочу использовать папку, а именно – удаление. Я напишу
        команду Directory.Delete(“путь до папки”);. Из этого пути удалится только последняя папка </p>
    <div class="code-block">
        <p class="code-text">Directory.Delete("D:\\Рабочий стол\\He существует\\Тоже не существует");</p>
    </div>
    <p>Папки, которой нет, мы удалить не можем </p>
    <img class="mw-100" src="{% static 'img/charp/24_directory/3_delerror.png' %}"
         alt="Ошибка при удалении несуществующей папки"/>
    <p>Тогда нам нужно сделать проверку на то, существует ли такая папка или нет </p>



    <hr class="anchor" id="systemFolders"/>
    <h2>Использование системных папок</h2>
    <p>Также, на каждом компьютере есть несколько основных системных папок – рабочий стол, документы, изображения,
        музыка,
        загрузки и прочее. Однако на каждом компьютере путь до этой папки разный. Что же мне делать, если я хочу
        сохранить файл именно на рабочем столе, вне зависимости от того, на каком компьютере будет запущена моя
        программа?</p>
    <p>Чтобы взять путь до любой системной папки, можно воспользоваться <b>Environment.GetFolderPath();</b>. Внутри круглых
        скобок мне необходимо написать папку, чей путь я хочу взять</p>
    <img class="mw-100" src="{% static 'img/charp/24_directory/8_environment.png' %}" alt="Выбор системных папок"/>
    <p>Например, хочу взять путь до рабочего стола. В круглых скобках я так и напишу - Desktop. Visual Studio сама
        предложит мне, как нужно правильно написать обращение до этой папки</p>
    <p>Так, в переменной будет храниться путь до моего рабочего стола. В моем случае, это D:\Рабочий стол</p>
    <img class="mw-100" src="{% static 'img/charp/24_directory/9_adjustments.png' %}" alt="Предложения по написанию"/>
    <p>Где это можно использовать?</p>
    <p>Да везде, это обеспечивает универсальность. Если брать в пример тот же
        <a href="{% url 'json' %}" class="default-link">JSON</a>, можно сделать универсальное сохранение файлов на
        рабочий стол, вне зависимости от того, на чьем компьютере была запущена программа</p>
    <div class="code-block">
        <p class="code-text">string desktop = Environment.GetFolderPath(Environment.SpecialFolder.Desktop);

            string json = JsonConvert.SerializeObject(humans);
            File.WriteAllText(desktop + "\\Пример.json", json);</p>
    </div>


    <hr class="anchor" id="additional"/>
    <h2>Дополнительные методы</h2>
    <p>Я должна сделать проверку на то, существует ли у меня такая папка или нет. Если папка существует, удалить ее.
        Получается, я хочу проверить, есть ли папка. Я хочу использовать папку, а именно, существует ли он. И, во втором
        предложении, у нас было слово «если». Видим если – ставим условие. Таким образом, если папка не существует, я ее
        удалю </p>
    <div class="code-block">
        <p class="code-text">if (Directory.Exists("D:\\Рабочий стол\\\Hе существует\\Тоже не существует"))
            {
            &nbsp; &nbsp; Directory.Delete("D:\\Рабочий стол\\He существует\\Тоже не существует");
            }</p>
    </div>
    <p>Возвращаясь к удалению, я не могу удалить папку, где находятся какие-то файлы. </p>
    <img class="mw-100" src="{% static 'img/charp/24_directory/4_notempty.png' %}" alt="Не пустая папка"/>
    <img class="mw-100" src="{% static 'img/charp/24_directory/5_notemptyerror.png' %}" alt="Ошибка о непустоте папки"/>
    <p>Значит, мне нужно получить информацию, есть ли в папке какие-то файлы. Я могу получить полный список всех файлов,
        которые находятся у меня в папке. Сделать я это могу с помощью Directory.GetFiles(“путь до папки”);. Этот метод
        вернет мне массив пути всех файлов, который я могу перебрать, например, с помощью цикла foreach </p>
    <img class="mw-100" src="{% static 'img/charp/24_directory/6_manyfiles.png' %}" alt="Несколько файлов в папке"/>
    <img class="mw-100" src="{% static 'img/charp/24_directory/7_fileoutput.png' %}" alt="Вывод нескольких файлов"/>
    <p>Если я хочу удалить папку, то мне сначала нужно удалить все эти файлы внутри папки. Работу с файлами мы также
        будем реализовывать через «File.» </p>
    <div class="code-block">
        <p class="code-text">string[] allFiles = Directory.GetFiles("D:\\\Рабочий стол\\He существует");
            foreach (string filePath in allFiles)
            {
            &nbsp; &nbsp; File.Delete(filePath);
            }
            Directory.Delete("D:\\\Рабочий стол\\He существует");</p>
    </div>
    <p>Однако, этот пример будет лучше работать не с удалением, а в том случае, когда я хочу работать с содержимым
        папки. Например, получить все файлы и вывести их, получить все папки и открыть их содержимое, и прочее. С
        удалением, на самом деле, все намного проще</p>
    <div class="code-block">
        <p class="code-text">Directory.Delete("D:\\\Рабочий стол\\He существует", true);</p>
    </div>
    <p>True в конце этого метода говорит о "рекурсионном удалении". Принцип действия таков:</p>
    <ol>
        <li>Метод заходит в папку</li>
        <li>Если в ней есть папка, зайти в нее</li>
        <li>Повторить пункт 1,2 до тех пор, пока в папке не будет папок</li>
        <li>Поочередно удалить каждый файл в папке</li>
        <li>Если нет ни файлов ни папок, удалить эту папку</li>
        <li>Подняться на папку выше</li>
        <li>Повторить пункт 3-6 до тех пор, пока внутри первоначальной папки ничего не останется</li>
        <li>Удалить первоначальную папку</li>
    </ol>
    <hr/>
    <p class="text-center"><b>БУДЬТЕ ОСТОРОЖНЫ: Если вы в шутку попробуете удалить System32 или любую другую важную
        папку для системы, надеясь, что она не удалится из-за защиты, или из-за процессов, которые задействуют систему -
        нет. Она удалится. Частично, конечно, некоторые файлы и папки и правда останутся, но так как некоторые из них не
        задействованы в определенный момент, половина системы начнет некорректно отрабатывать, а перезапуск компьютера
        приведет к синему экрану без возможности
        восстановления, и вам придется переустанавливать систему</b></p>
    <p class="text-center">Отдаю дань уважения П50-8-22, которые убедили меня попробовать удалить System32 на паре,
        развеяв мою уверенность в безопасности системы, и П50-4-22, которые предоставили мне чистый образ Windows на
        следующей паре 💕</p>
    <hr/>
    <p>Таким же образом, используя «Directory.», можно сделать что угодно со своим файлом – копировать его, переместить,
        удалить, узнать, когда он был последний раз изменен, установить время когда он был создан, и т.п и т.п. </p>
{% endblock %}