{% extends 'base.html' %}
{% load static %}


{% block previousPage %} {% url 'directory' %} {% endblock %}
{% block nextPage %} {% url 'threads' %} {% endblock %}


{% block main_info %}
     <h2 class="anchor">Запуск файлов</h2>
    <p>Последнее, что мы разберем по работе с файлами на компьютере – их запуск. Я не буду заставлять вас писать
        отображение каждого файла в консоли, путь операционная система сама разбирается, через что запустить этот файл.
        Нам лишь нужно сказать, что этот процесс нужно запустить. </p>
    <p>Так как я хочу запустить процесс, я напишу Process.Start();. Для использования процессов нам нужно будет
        подключить библиотеку System.Diagnostics. Можно вручную прописать этот using, либо нажать alt+enter (или нажать
        на лампочку) и выбрать первый пункт – using System.Diagnostics. </p>
    <img class="mw-100" src="{% static 'img/charp/25_process/1_addusing.png' %}" alt="Добавление using"/>
    <p> Один из способов запустить этот файл – напрямую в круглые скобки прописать путь. </p>
    <div class="code-block">
        <p class="code-text">using System. Diagnostics;

            Process.Start("D:\\Рабочий стол\\Вордовский файл.docx");</p>
    </div>
    <p>Однако так будет работать только если это exe файл. Для Windows 10 нам необходимо запустить файл через
        PowerShell, а значит, мы должны как-то в коде это обозначить </p>
    <img class="mw-100" src="{% static 'img/charp/25_process/2_exception.png' %}"
         alt="Ошибка в открытии не exe файла"/>
    <p>Чтобы обозначить это в коде, вместо обычного пути, мы создадим информацию о нашем процессе – ProcessStartInfo.
        Внутри в фигурных скобках мы укажем название файла – FileName, и использование PowerShell – UseShellExecute =
        true. </p>
    <p>UseShellExecute - свойство, которое позволяет полностью переложить ответственность за открытие файла на систему.
        Мы буквально отдаем путь в PowerShell, т.е. системную оболочку, а он уже запускает файл согласно своим
        настройкам (программы по умолчанию, ассоциация программ с расширением, прочее прочее прочее). </p>
    <p>И тогда, при запуске приложения, ОС сама подберет, через что стоит запускать этот файл. Так как мы открывали
        вордовский файл, то и запустит он его через Word </p>
    <div class="code-block">
        <p class="code-text">Process.Start(new ProcessStartInfo
            {
            &nbsp; &nbsp; FileName = "D:\\Рабочий стол\\Вордовский файл.docx",
            &nbsp; &nbsp; UseShellExecute = true
            });
            Console.WriteLine("запустилось");</p>
    </div>
    <p>(Если вам удобно, этот же код можно написать в одну строчку - просто удалите все переносы строк)</p>
    <img class="mw-100" src="{% static 'img/charp/25_process/3_openedfile.png' %}" alt="Открытый файл"/>

{% endblock %}