{% extends 'base.html' %}
{% load static %}


{% block previousPage %} {% url 'process' %} {% endblock %}
{% block nextPage %} {% url 'nasled' %} {% endblock %}


{% block main_info %}
     <h2 class="anchor">Многопоточность, Thread </h2>
    <p>Иногда в реализации нашего кода может появиться момент, когда мы хотим, чтобы два действия выполнялись
        одновременно. Однако с самого начала обучения мы с вами знаем, что код идет сверху вниз и все. Как же нам
        разделить этот код на две отдельные последовательности, которые будут идти одновременно? </p>
    <p>Для этого существуют потоки. В C# поток – <b>Thread</b>. Когда потоков много, у нас реализовывается <b>многопоточность</b>
    </p>
    <hr/>
    <p>Дисклеймер: здесь представлена очень поверхностная работа с потоками, чисто в рамках выполнения двух задач
        параллельно. Более сложные темы будут рассмотрены позже, а тема о многопоточности будет расширяться</p>
    <hr/>
    <p>При помощи многопоточности мы можем выделить в приложении несколько потоков, которые будут выполнять различные
        задачи одновременно. Если у нас, допустим, графическое приложение, которое посылает запрос к какому-нибудь
        серверу или считывает и обрабатывает огромный файл, то без многопоточности у нас бы блокировался графический
        интерфейс на время выполнения задачи. А благодаря потокам мы можем выделить отправку запроса или любую другую
        задачу, которая может долго обрабатываться, в отдельный поток. </p>
    <p>Изначально, в нашем коде есть один поток – основной. Он запускается вместе с программой, и именно в этом потоке у
        нас воспроизводится весь наш код. Но что, если у меня есть что-то, что блокирует выполнение этого кода,
        например, <b>бесконечный цикл?</b></p>
    <p>Например, я хочу, чтобы у меня каждую секунду мелькала строчка то на нулевой строке, то на второй строке. Я
        напишу вот такой код </p>
    <div class="code-block">
        <p class="code-text">while (true)
            {
            &nbsp; &nbsp; Console.SetCursorPosition(0, 2);
            &nbsp; &nbsp; Console.WriteLine(" ");
            &nbsp; &nbsp; Console.SetCursorPosition(0, 0);
            &nbsp; &nbsp; Console.WriteLine("---");
            &nbsp; &nbsp;
            &nbsp; &nbsp; Thread.Sleep(1000);
            &nbsp; &nbsp;
            &nbsp; &nbsp; Console.SetCursorPosition(0, 2);
            &nbsp; &nbsp; Console.WriteLine("---");
            &nbsp; &nbsp; Console. SetCursorPosition(0, 0);
            &nbsp; &nbsp; Console.WriteLine(" ");
            &nbsp; &nbsp; Thread.Sleep(1000);
            }</p>
    </div>
    <p>Уже здесь мы видим работу с потоками. Мы останавливаем основной поток с помощью команды Thread.Sleep(); на 1000
        милисекунд, т.е. на 1 секунду. </p>
    <p>Параллельно с этим я хочу, чтобы между этими строчками у меня было постоянное чтение символа с консоли и его
        вывод. Для этого, чуть ниже, я напишу код для постоянного чтения символа с консоли. Итоговый код будет выглядеть
        вот так</p>
    <div class="code-block">
        <p class="code-text">while (true)
            {
            &nbsp; &nbsp; Console.SetCursorPosition(0, 2);
            &nbsp; &nbsp; Console.WriteLine(" ");
            &nbsp; &nbsp; Console.SetCursorPosition(0, 0);
            &nbsp; &nbsp; Console.WriteLine("---");
            &nbsp; &nbsp;
            &nbsp; &nbsp; Thread.Sleep(1000);
            &nbsp; &nbsp;
            &nbsp; &nbsp; Console.SetCursorPosition(0, 2);
            &nbsp; &nbsp; Console.WriteLine("---");
            &nbsp; &nbsp; Console.SetCursorPosition(0, 0);
            &nbsp; &nbsp; Console.WriteLine(" ");
            &nbsp; &nbsp; Thread.Sleep(1000);
            }

            while (true)
            {
            &nbsp; &nbsp; ConsoleKeyInfo key = Console.ReadKey();
            &nbsp; &nbsp; Console.SetCursorPosition(0, 1);
            &nbsp; &nbsp; Console.Write(" ");
            &nbsp; &nbsp; Console.SetCursorPosition(0, 1);
            &nbsp; &nbsp; Console.Write(key.Key);
            }
        </p>
    </div>
    <p>Однако здесь мы видим, что у нас два бесконечных цикла. Код и из одного не выйдет, а разговора о втором даже не
        заходит. Однако я очень хочу, чтобы эти два кода работали одновременно. Тогда, один из этих циклов, мне нужно
        вынести в отдельный поток – Thread </p>
    <p>Выносить я буду, например, отрисовку строчки. Чтобы понять, что нужно выносить - лучше выносите что-то фоновое,
        постоянное. В моем случае, отрисовка полоски - постоянное действие, и выношу я ее.</p>
    <p>Thread – <a href="{% url 'classasmodel' %}#using" class="default-link">сложный тип данных</a>, так что, чтобы
        создать поток, нам нужно создать переменную типа данных Thread </p>
    <div class="code-block">
        <p class="code-text">Thread thread = new Thread();</p>
    </div>
    <p>Переменная ругается, потому что внутри нее нужно указать какой-то код, который будет выполняться в этом отдельном
        потоке. Сделать это можно двумя способами </p>
    <ol>
        <li>Вынести код с моей задачей – отрисовку строчки – в отдельный метод. Внутри Thread написать new
            ThreadStart(НазваниеМетода). ThreadStart говорит нам о том, какой метод надо запустить при старте этого
            потока
            <br/>
            Обратите внимание, что название метода в этом случае будет без круглых скобок!
            Еще обратите внимание, что если у нас внутри метода есть параметры, то такой способ использовать нельз
            <div class="code-block">
                <p class="code-text">Thread thread = new Thread(new ThreadStart(Method));

                    void Method()
                    {
                    &nbsp; &nbsp; while (true)
                    &nbsp; &nbsp; {
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, 2);
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine(" ");
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, 0);
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("---");
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; Thread.Sleep(1000);
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, 2);
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("---");
                    &nbsp; &nbsp; &nbsp; &nbsp; Console. SetCursorPosition(0, 0);
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine(" ");
                    &nbsp; &nbsp; &nbsp; &nbsp; Thread.Sleep(1000);
                    &nbsp; &nbsp; }
                    }</p>
            </div>
        </li>
        <li>С помощью лямбда выражения (вспоминаем <a href="{% url 'linq' %}#hard" class="default-link">сложные linq
            запросы</a>, лямбда выражение это где =>), сразу вписать код, который мы хотим выполнить при старте. Наша
            лямбда – выражение будет выгляжить как _ => {}, где _ - переменная заглушка, а внутри фигурных скобок будет
            код, который должен выполняться в потоке. Внутри этих фигурных скобок можно также вызывать методы и
            передавать туда значения в параметры
            <div class="code-block">
                <p class="code-text">Thread thread = new Thread(_ =>
                    {
                    &nbsp; &nbsp; while (true)
                    &nbsp; &nbsp; {
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, 2);
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine(" ");
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, 0);
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("---");
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; Thread.Sleep(1000);
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, 2);
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("---");
                    &nbsp; &nbsp; &nbsp; &nbsp; Console. SetCursorPosition(0, 0);
                    &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine(" ");
                    &nbsp; &nbsp; &nbsp; &nbsp; Thread.Sleep(1000);
                    &nbsp; &nbsp; }
                    });</p>
            </div>
        </li>
    </ol>
    <p>После того, как мы определили, какой код будет выполняться в другом потоке, мы должны его запустить. Чтобы
        запустить поток, надо написать названиепеременной.Start();. И тогда, наш код будет параллельно выполняться в
        двух потоках</p>
    <p>Суммарно, код, с вторым вариантом потока, выглядит вот так</p>
    <div class="code-block">
        <p class="code-text">Thread thread = new Thread(_ =>
            {
            &nbsp; &nbsp; while (true)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, 2);
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine(" ");
            &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, 0);
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("---");
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; Thread.Sleep(1000);
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, 2);
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("---");
            &nbsp; &nbsp; &nbsp; &nbsp; Console.SetCursorPosition(0, 0);
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine(" ");
            &nbsp; &nbsp; &nbsp; &nbsp; Thread.Sleep(1000);
            &nbsp; &nbsp; }
            });
            thread.Start();

            while (true)
            {
            &nbsp; &nbsp; ConsoleKeyInfo key = Console.ReadKey();
            &nbsp; &nbsp; Console.SetCursorPosition(0, 1);
            &nbsp; &nbsp; Console.Write(" ");
            &nbsp; &nbsp; Console.SetCursorPosition(0, 1);
            &nbsp; &nbsp; Console.Write(key.Key);
            }</p>
    </div>
    <p>А при запуске, мы увидим, что мы можем и символы вводить, и полосочки отрисовываются. Причем одновременно!</p>
    <div class="col-6 col-lg-3">
        <img class="mw-100" src="{% static 'img/charp/26_threads/1_result.gif' %}" alt="Результат работы"/>
    </div>
    <p>Дополнительно, мы можем не только запускать код, но и узнать информацию о нашем потоке. Например: </p>
    <ul>
        <li>Узнать текущий поток – Thread.CurrentThread </li>
        <li>Выставить приоритет выполнения текущего потока - Thread.CurrentThread.Priority </li>
        <li>Остановить выполнение текущего потока - Thread.CurrentThread.Abort </li>
        <li>Узнать, запущен ли поток - Thread.CurrentThread.IsAlive </li>
        <li>Узнать или изменить состояние текущего потока - Thread.CurrentThread.CurrentState </li>
        <li>Остановить поток на какой-то промежуток времени – Thread.Sleep(100). 100 здесь – 100 милисекунд</li>
    </ul>
{% endblock %}