{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#convert" class="default-link">Конвертация - Convert</a></li>
        <li><a href="#parse" class="default-link">Аналог Convert - Parse()</a></li>
        <li><a href="#tryparse" class="default-link">Безопасная конвертация - TryParse()</a></li>
    </ul>

{% endblock %}

{% block previousPage %} {% url 'variables' %} {% endblock %}
{% block nextPage %} {% url 'datetime' %} {% endblock %}

{% block main_info %}
    <h2 id="convert">Конвертация</h2>

    <p>Если я хочу сделать из текста цифру, я буду ее конвертировать (переводим на английский – to convert, значит нам
        нужно слово <b>Convert</b>)</p>
    <p>Я хочу конвертировать текст, <b>а именно</b>, конвертировать в Int, а значение хранить в какой-то переменной,
        например,
        x</p>
    <p>Однако интов у нас много, что выбрать?</p>
    <img class="mw-100" src="{% static 'img/charp/2_Converters/1toints.png' %}" alt="Выбор из ToInt"/>


    <p>Смотрим:</p>
    <ul>
        <li>
            Int16 это самый маленький из перечисленных, <b>короткий инт</b>, значит тип данных у него <b>short</b>
        </li>
        <li>
            Int32 — средний инт, самый <b>обычный</b>, его тип данных это просто <b>int</b>
        </li>
        <li>
            Int64 — самый большой, <b>длинный инт</b>, занчит тип данных — <b>long</b>
        </li>
        <li>
            А с UInt16, 32 и 64 та же история, но буква U показывает, что чисто будет только положительным (во всех
            переменных выше мы можем использовать как отрицательные, так и положительные значения)
        </li>
    </ul>
    <p>Получается, хотим обычный, выбираем Int32</p>
    <div class="code-block">
        <p class="code-text">int x = Convert.ToInt32(input);</p>
    </div>

    <p> И теперь мы можем с ней работать как с обычным числом — складывать, умножать, делить и прочее</p>
    <p>Например, напишу маленький код, где я ввожу какой-то текст, например, «5», конвертирую его в число, прибавляю к
        нему число «5» и вывожу результат
    </p>

    <div class="code-block">
        <p class="code-text">string input = Console.ReadLine();
            int x = Convert.ToInt32(input);

            int result = x + 5;
            Console. WriteLine(result);</p>
    </div>

    <p>И так будет выглядеть наш результат в консоли. 5 мы ввели сами, 10 вывела программа</p>
    <img class="mw-100" src="{% static 'img/charp/2_Converters/2fiveten.png' %}" alt="Вывод 5 и 10"/>

    <hr/>

    <h4 id="parse">типданных.Parse()</h4>
    <p>Аналог <b>Convert.ToТипданных</b> это <b>типданных.Parse()</b>.</p>
    <p>Convert.ToInt32(строка) это int.Parse(строка). Работают они одинаково – конвертируют значение. Однако есть одно
        отличие – Convert может работать с null, Parse – нет.</p>

    <div class="code-block">
        <p class="code-text">string? noValue = null;

            int valueOne = Convert.ToInt32(noValue);
            Console.WriteLine(valueOne); // выведет 0

            int valueTwo = int.Parse(noValue);
            Console.WriteLine(valueTwo); // выдаст ошибку</p>
    </div>

    <p>Ошибка при null может понадобится в случае, если вы хотите быть ТОЧНО уверены, что значение не null, и не хотите
        давать пользователю идти дальше, если значение все-таки оказалось null. Может быть полезным при создании
        валидации (ака проверок на правильность ввода)</p>

    <p>Но у типданных.Parse() есть одна интересная конструкция – типданных.<b>TryParse()</b></p>

    <hr/>

    <h4 id="tryparse">типданных.TryParse()</h4>
    <p>
        В отличии от предыдущих конструкций, эта только пробует конвертировать значение в нужный тип данных. Если у нее
        это получилось – идем дальше. Если нет – тоже идем дальше, но значения у тебя не будет, установится значение по
        умолчанию (null или 0). Есть еще отличие – int.TryParse не нужно ни к чему присваивать. Переменная, в которую
        должно пойти значение, указывается прямо внутри TryParse при помощи слово out
    </p>

    <div class="code-block">
        <p class="code-text">string? noValue = null;
            int valueTwo;

            // Структура:
            // int.TryParse(чтоконвертируем, out кудаконвертируем);

            int.TryParse(noValue, out valueTwo); Console.WriteLine(valueTwo); // выдаст 0

            valueTwo = int.Parse(noValue);
            Console.WriteLine(valueTwo); // выдаст ошибку</p>
    </div>

    <p>Ту же valueTwo можно создать прямо внутри TryParse()</p>
    <div class="code-block">
        <p class="code-text">string? noValue = "45";

            int.TryParse(noValue, out int valueTwo);
            Console.WriteLine(valueTwo); // выдаст 45</p>
    </div>

    <p>
        TryParse() возвращает буленово значение, т.е. true или false, True – если конвертация успешна, false – если нет.
        Их можно будет в будущем использовать в условиях и циклах, чтобы, например, раз за разом просить пользователя
        ввести нормальное значение, которое сможет конвертироваться.
    </p>

    <div class="code-block">
        <p class="code-text">string? noValue = "45";
            bool isConverted = int.TryParse(noValue, out int valueTwo);
            Console.WriteLine(isConverted); // выдаст true</p>
    </div>
    <br/>
    <div class="code-block">
        <p class="code-text">string? noValue = "блабла";

            bool isConverted = int.TryParse(noValue, out int valueTwo);
            Console.WriteLine(isConverted); // выдаст false</p>
    </div>
{% endblock %}