{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#setup" class="default-link">Настройка главного проекта</a></li>
        <li><a href="#testproject" class="default-link">Создание тестового проекта</a></li>
        <li><a href="#tests" class="default-link">Работа с тестами</a></li>
    </ul>

{% endblock %}

{% block previousPage %} {% url 'enum' %} {% endblock %}
{% block nextPage %} {% url 'generic' %} {% endblock %}


{% block main_info %}
    <h2>Тесты, NUnit, Assert </h2>
    <p>По-хорошему, все для стабильной работы надо тестировать. Как и люди пинают роботов в Boston Dynamics чтобы
        посмотреть, насколько они стабильны, так и мы должны придумать всевозможные тесты на проверку стабильности и
        вариативности написанного нами кода. Сделать это можно при помощи библиотеки NUnit и отдельного проекта. </p>
    <p>Я не научу вас как правильно составлять тест-кейсы, видам тестирования и прочему огромному теоретическому
        бекграунду тестирования, так как это очень большой пласт информации, который нужно рассматривать в отдельных
        курсах. Но, я кратко покажу вам, каким образом можно тестировать свой код на C# </p>


    <hr/>
     <h2 class="anchor" id="setup">Настройка главного проекта</h2>
    <p>У меня есть маленькое приложение, которое ничего не делает, просто имеет пустой класс Program.cs </p>
    <img class="mw-100" src="{% static 'img/charp/32_tests/1_programcs.png' %}" alt="Код Program.cs"/>
    <p>…один класс TestData который хранит в себе тестовые данные некоторых файлов </p>
    <img class="mw-100" src="{% static 'img/charp/32_tests/2_testdata.png' %}" alt="Код TestData.cs"/>
    <div class="code-block">
        <p class="code-text">namespace тесты
            {
            &nbsp; &nbsp; public class TestData
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; //тут имитация того, что код берет файлы
            &nbsp; &nbsp; &nbsp; &nbsp; //на самом деле - просто возвращает лист с названиями рандомных файлов
            &nbsp; &nbsp; &nbsp; &nbsp; public List&lt;string&gt; GetFiles()
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; List&lt;string&gt; list = new List&lt;string&gt;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "file. txt",
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "file2.log",
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "file3.exe"
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; };
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return list;
            &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; }
            }
        </p>
    </div>
    <p>…и один класс FileManager, который берет все «файлы» из первого класса, а потом смотрит, есть ли в этом листе
        запрошенный файл. </p>
    <img class="mw-100" src="{% static 'img/charp/32_tests/3_filemanager.png' %}" alt="Код FileManager.cs"/>
    <div class="code-block">
        <p class="code-text">namespace тесты
            {
            &nbsp; &nbsp; class FileManager
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; //метод, который берет все файлы из первого класса
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; public bool FindFileByName(string fileName)
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //вот тут берет
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TestData obj = new TestData();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; List&lt;string&gt; files = obj.GetFiles();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //a потом ищет нужный файл и возвращает true если нашел
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; foreach (var file in files)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (file.Contains(fileName))
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return true;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //false если не нашел
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return false;
            &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; }
            }
        </p>
    </div>
    <p>Мне и не требуется иметь код в Program.cs либо в любой другой основной программе. Тестируем мы именно отдельные
        классы (модули), а это значит, что приложение должно быть модульным (разделенным на классы). </p>



    <hr/>
     <h2 class="anchor" id="testproject">Создание тестового проекта</h2>
    <p>Чтобы начать тестирование, нам необходимо создать отдельный проект. Для этого ПКМ нажмем по решению -> добавить
        -> создать проект </p>
    <img class="mw-100" src="{% static 'img/charp/32_tests/4_projectcreate.png' %}" alt="Создание нового проекта"/>
    <p>Перед нами появится то же самое окно, которое появляется, когда мы создаем новый проект. В поиске мы должны
        написать NUnit – это библиотека, при помощи которой мы будем создавать тесты. Выберем самый первый появившийся
        вариант, для C# </p>
    <img class="mw-100" src="{% static 'img/charp/32_tests/5_nunitproject.png' %}" alt="Поиск проекта Nunit"/>
    <p>Далее мы как-либо называем проект, снова выбираем версию, и создаем. Все как при создании любого другого
        приложения </p>
    <p>При создании перед нами появится класс с ошибками. Это нормально, ошибки появляются потому, что проект пока что
        только строится и докачивает пакет NUnit (этот пакет вы, кстати, можете найти в управление пакетами Nuget). Как
        только он все докачает, то все станет зеленым. Важно: для того, чтобы все загрузилось, у вас должен быть
        интернет </p>
    <img class="mw-100" src="{% static 'img/charp/32_tests/6_load.png' %}" alt="Загрузка пакетов"/>
    <p>Разберем подробнее что здесь что </p>
    <p>Внутри класса Tests хранятся 2 метода – Setup и Test1. Эти два метода помечены какой-то штукой в квадратных
        скобках – <b>атрибутами</b>. Этот атрибут задает поведение для метода: </p>
    <ul>
        <li>Атрибут <b>SetUp</b> говорит методу запустится перед всеми тестами, чтобы их настроить (создать переменные,
            задать
            первоначальные значения и прочее)
        </li>
        <li>Атрибут <b>Test</b> говорит методу, ну, быть тестом. Без этого атрибута Visual Studio подумает, что это
            самый
            обычный метод, как и все те, что мы делали до этого, и не сможет запустить тест. Так что в каждом методе,
            который должен быть тестом, должен быть этот атрибут Test
        </li>
    </ul>
    <p>Внутри метода Test1 мы видим одну строчку кода – <b>Assert.Pass();</b> - это, на данный момент, заглушка. <b>При
        помощи
        класса Assert проводятся тесты</b>, а Pass – просто метод, который сделает тест намеренно пройденным, не
        проверяя
        ничего. </p>




    <hr/>
     <h2 class="anchor" id="tests">Работа с тестами</h2>
    <p>Внутри Assert есть огромное количество проверок: IsNull – равна ли переменная Null, Less – меньше ли переменная
        n-ому значению, Negative – является ли значение меньше нуля и прочее прочее прочее. Опять же, список огромен,
        все что нам требуется – написать Assert. и искать в появившемся списке интересный нам тест </p>
    <img class="mw-100" src="{% static 'img/charp/32_tests/7_assertlist.png' %}" alt="Список методов у Assert"/>
    <p>Я верну Assert.Pass(); чтобы показать, как работают тесты </p>
    <p>Чтобы запустить все тесты внутри решения, нужно перейти во вкладку «Тест» и выбрать «Запуск всех тестов» </p>
    <img class="mw-100" src="{% static 'img/charp/32_tests/8_teststart.png' %}" alt="Запуск тестов"/>
    <p>Все решение соберется и перед нами появится вот такое вот окошко, где галочкой будут показаны все пройденные
        тесты, крестиком – непройденные, а окружность – тест, который не запустился </p>
    <img class="mw-100" src="{% static 'img/charp/32_tests/9_testresult.png' %}" alt="Результат тестов"/>
    <p>За тест будет считаться каждый метод. Если внутри одного метода есть, например, 5 Assert-ов, и один из них не
        выполнился, весь тест считается за невыполненный. </p>
    <p>Теперь, я хочу протестировать свои два класса, которые я показала в самом начале лекции. Для этого мне нужно
        сначала подключить проект (Зависимости\Ссылки у проекта с тестами -> Добавить ссылку на проект и галочку у
        нужного проекта) </p>
    <img class="mw-100" src="{% static 'img/charp/32_tests/10_dependencies.png' %}" alt="Добавление зависимости"/>
    <p>А потом нужно создать переменные с ними, их я буду делать в SetUp </p>
    <img class="mw-100" src="{% static 'img/charp/32_tests/11_testsetup.png' %}" alt="Настройка метода Setup"/>
    <div class="code-block">
        <p class="code-text">using тесты;
            {
            &nbsp; &nbsp; namespace TestProj
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; public class Tests
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TestData testData;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; FileManager fileManager;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [SetUp]
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; public void Setup()
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; testData = new TestData();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; fileManager = new FileManager();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; }
            }</p>
    </div>
    <p>Напомню, что TestData отвечает за файлы, а FileManager – за поиск файлов из TestData </p>
    <p>Напишу три теста для TestData – создался ли лист (не null), не пустой ли он (лист.count > 0) и точно ли там
        названия файлов (элемент листа имеет точку) </p>
    <p>Точно также для FileManager – три теста – находится ли нужный файл, найдется ли пустое название (не
        должно), и найдется ли что-то если я передам null (опять же, не должно) </p>
    <p>Заметьте, что каждый тест помечен атрибутом Test, а сами тесты сделаны через Assert в отдельном методе </p>
    <div class="code-block">
        <p class="code-text">using тесты;
            {
            &nbsp; &nbsp; namespace TestProj
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; public class Tests
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TestData testData;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; FileManager fileManager;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [SetUp]
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; public void Setup()
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; testData = new TestData();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; fileManager = new FileManager();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [Test]
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; public void ListTest1()
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Assert.IsNotNull(testData. GetFiles());
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [Test]
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; public void ListTest2()
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Assert.Greater(0, testData.GetFiles().Count);
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [Test]
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; public void ListTest3()
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var list = testData.GetFiles();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; foreach (var item in list)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Assert.IsTrue(item.Contains("."));
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [Test]
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; public void FileTest1()
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Assert.IsTrue(fileManager.FindFileByName("file2.log"));
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [Test]
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; public void FileTest2()
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Assert. IsFalse(fileManager. FindFileByName(""));
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; [Test]
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; public void FileTest3()
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Assert.IsFalse(fileManager. FindFileByName(null));
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; }
            }</p>
    </div>
    <p>Запущу все тесты и увижу следующее. Во первых – когда он искал пустоту, он нашел такой файл, хотя не должен был.
        А также, когда мы отправили туда null, код выдал ошибку, хотя опять же, не должен был. </p>

    <img class="mw-100" src="{% static 'img/charp/32_tests/12_testerror.png' %}" alt="Ошибка в результатах тестов"/>
    <p>Работа тестировщика на этом этапе заканчивается, снова включается разработчик. При помощи таких тестов мы можем
        понять поведение нашего кода и исправить его. Например, я поправлю код в FileManager так, чтобы все тесты были
        пройдены </p>
    <p>Тогда, код в FileManager.cs будет выглядеть вот так</p>
    <div class="code-block">
        <p class="code-text">namespace тесты
            {
            &nbsp; &nbsp; class FileManager
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; public bool FindFileByName(string fileName)
            &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //добавлю строку для null
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (fileName == null) return false;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TestData obj = new TestData();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; List&lt;string&gt; files = obj.GetFiles();
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //a потом ищет нужный файл и возвращает true если нашел
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; foreach (var file in files)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //изменю условие с Contains на ==
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (file == fileName)
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return true;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; //false если не нашел
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return false;
            &nbsp; &nbsp; &nbsp; &nbsp; }
            &nbsp; &nbsp; }
            }
        </p>
    </div>
    <p>И снова попробую запустить тесты. Теперь мой код будет готов к любым непреднамеренным передачам данных, не будет
        кидать ошибки, и будет работать корректно </p>

    <img class="mw-100" src="{% static 'img/charp/32_tests/13_testresultgood.png' %}"
         alt="Хорошие результаты тестирования"/>
    <p>Модульное тестирование обеспечивает проверку кода на отрабатывание во всех ситуациях - хороших, плохих и даже
        странных. Такое покрытие, которые мы прописали выше, позволяет проверять внесенные изменения и всегда знать -
        корректно ли работает новый\старый код, или нужно внести правки</p>

{% endblock %}