{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#this_class" class="default-link">This, как значения из этого класса</a></li>
        <li><a href="#this_variable" class="default-link">This, как значения из этой переменной</a></li>
        <li><a href="#extension_methods" class="default-link">Методы расширения</a></li>
    </ul>
{% endblock %}

{% block previousPage %} {% url 'generic' %} {% endblock %}
{% block nextPage %} {% url 'next_topic' %} {% endblock %}

{% block main_info %}
    <h2>Методы расширения, this</h2>
    <p>После того, как мы узнали про <a href="{% url 'linq' %}" class="default-link">Linq запросы</a>, мы узнали, что у
        коллекций тоже есть свои методы, которые могут сами
        взять все значения из переменных и работать с ним. Например, разберем следующий код</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/1_linq_min.png' %}" alt="Пример метода Min"/>
    <p>Здесь у нас есть гибкая коллекция чисел ints. Из нее я хочу взять минимальное число. Чтобы это сделать, мне нужно
        просто написать ints.Min(); Метод Min сам подтянет все значения из переменной ints, и, с помощью перебора и
        условия, найдет минимальное значение и вернет его. Как же он подтянет все значения из переменной ints?
        Посмотрим, как устроен метод Min, и увидим, что внутри него есть перегрузка с числовой коллекцией, слева от
        которой написано слово <b>this</b></p>
    <img class="mw-100" src="{% static 'img/charp/34_this/2_min_overload.png' %}" alt="Перегрузка метода Min"/>
    <p>Мы можем писать такие же методы, однако для начала нам нужно разобраться, что такое this</p>
    <p>This имеет два определения. При помощи него мы можем обратиться к значениям внутри <i>этого</i> класса
        (буквально, values in <b>this</b> class), или к значениям из <i>этой</i> переменной (аналог – values from <b>this</b>
        variable)</p>






    <hr class="anchor" id="this_class"/>
    <h2>This, как значения из этого класса</h2>
    <p>Ключевое слово this указывает на текущий объект данного класса. Соответственно через this мы можем обращаться
        внутри класса к любым его объектам (методы, переменные). Через this мы можем даже передавать текущий экземпляр
        класса в другие методы!</p>
    <p>Например, у меня есть свой тип данных, моя модель данных Human. Выглядит она следующим образом</p>
    <div class="code-block">
        <p class="code-text">internal class Human
            {
            &nbsp; &nbsp; public string Name;
            &nbsp; &nbsp; public int Age;
            &nbsp; &nbsp; public string[] MyFavoriteColour;
            }
        </p>
    </div>
    <p>Я хочу сделать <a href="{% url 'classascontainer' %}#constructor" class="default-link">конструктор</a> для этого
        типа данных. Однако параметры, которые я передаю в конструктор, называются также, как и переменные внутри класса
    </p>
    <img class="mw-100" src="{% static 'img/charp/34_this/3_constructor.png' %}"
         alt="Конструктор с одинаковыми именами"/>
    <p>Если я просто начну присваивать Name к Name, не будет понятно, что к чему я хочу присвоить.</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/4_name_conflict.png' %}" alt="Конфликт имен"/>
    <p>Я же хочу сказать, что я хочу присвоить передаваемые значения к переменным <b>этого</b> класса. Переводим слово
        <b>этого</b> – получаем this</p>
    <p>Получается, чтобы использовать объекты этого класса, мне необходимо написать this.названиеобъекта. Тогда, код
        поймет, к чему именно мне нужно обратиться</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/5_this_usage.png' %}" alt="Использование this"/>
    <div class="code-block">
        <p class="code-text">internal class Human
            {
            &nbsp; &nbsp; public string Name;
            &nbsp; &nbsp; public int Age;
            &nbsp; &nbsp; public string[] MyFavoriteColour;

            &nbsp; &nbsp; public Human(string Name, int Age, string[] MyFavoriteColour)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; this.Name = Name;
            &nbsp; &nbsp; &nbsp; &nbsp; this.Age = Age;
            &nbsp; &nbsp; &nbsp; &nbsp; this.MyFavoriteColour = MyFavoriteColour;
            &nbsp; &nbsp; }
            }
        </p>
    </div>
    <p>Через this можно передавать значения всего класса в другие <a href="{% url 'methods' %}" class="default-link">методы</a>.
        Например, я внедряю метод по клонированию
        человека (до чего техника дошла…). На данном этапе, если я хочу клонировать все значения, то мне придется
        вручную вписывать каждый из объектов в конструктор</p>
    <div class="code-block">
        <p class="code-text">public Human CloneObject()
            {
            &nbsp; &nbsp; return new Human(this.Name, this.Age, this.MyFavoriteColour);
            }
        </p>
    </div>
    <p>Но я буквально использую <b>это</b> имя, <b>этот</b> возраст и <b>эти</b> любимые цвета. Почему я не могу просто
        взять и передать весь <b>этот</b> класс? И, почему сразу не могу, могу!</p>
    <p>Однако для этого мне нужно добавить конструктор, который все еще будет переделывать из старого Human новый
        Human</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/6_clone_constructor.png' %}"
         alt="Конструктор для клонирования"/>
    <img class="mw-100" src="{% static 'img/charp/34_this/7_clone_result.png' %}" alt="Результат клонирования"/>
    <p>В этом случае я не буду использовать слово this в конструкторе (на самом деле, просто чтобы вас не путать). Это и
        не нужно, так как противоречий между названиями свойств и названием передаваемых параметров нет</p>











    <hr class="anchor" id="this_variable"/>
    <h2>This, как значения из этой переменной</h2>
    <p>Теперь, вернемся к <a href="{% url 'linq' %}" class="default-link">LINQ</a> и методу Min. Слово this в этом
        случае говорит там, что методу нужно взять данные из <b>этой</b>
        переменной и сохранить их в переменной source. Если я хочу взять переменные из <b>этой</b> интовой коллекции,
        тогда моя переменная так и будет объявляться – <b>this</b> IEnumerable&lt;int&gt;. После этого, я напишу
        название параметра, где значения переменной будут хранится.</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/8_min_source.png' %}" alt="This в методе Min"/>
    <p>Если у параметра метода слева стоит this, то значение для этого параметра автоматически заполнится из переменной,
        из которой ее вызвали. По факту, внутрь метода ничего передавать не нужно</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/1_linq_min.png' %}" alt="Пример метода Min"/>
    <p>Методы, которые сами получают значение текущей переменной и работают с ней, называются <b>методами
        расширения.</b> И такие методы мы можем создавать сами</p>
    <p>Сразу отвечу на вопрос – а зачем они нам? В маленьком проекте в них нет необходимости. НО – если ваш проект
        большой, или если вы часто делаете одни и те же действия с одним и тем же типом данных, то вы можете сделать
        надстройку над типом данных, вызывая метод расширения</p>
    <p>Рассмотрим преобразование <a href="{% url 'datetime' %}" class="default-link">DateTime</a> в читабельный текст, и
        скажем, что мы сделали его не через метод
        расширения.</p>
    <ul>
        <li>Если у вас большой проект, вам придется искать статический метод, фиг пойми где, фиг пойми как, который
            отработает так, как вам нужно. И не факт, что вы его найдете, а не просто забьете и создадите собственный,
            практически идентичый.
        </li>
        <li>Если вы используете DateTime в разных классах, и сделали метод преобразования DateTime в текст приватным,
            вам каждый раз придется копировать исходный метод, и перемещать его в новый класс
        </li>
    </ul>
    <p>С методом расширения, вы сможете создать переменную типа DateTime, и через точку быстро найти нужный метод. Это
        выглядит намного удобнее, чем примеры выше</p>









    <hr class="anchor" id="extension_methods"/>
    <h2>Методы расширения</h2>
    <p>Чтобы разобраться в их работе, возьмем тот же пример с датами, но начнем с самого начала, когда еще метода нет
        вовсе. Я создам переменную с какой-либо датой. Эту переменную я хочу привести в текстовый вид формата «Дата:
        год.месяц.день. Время: часы:минуты:секунды». Я могу это сделать вручную:</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/9_manual_format.png' %}"
         alt="Ручное форматирование даты"/>
    <p>Однако согласитесь, что каждый раз прописывать такой код для каждой переменной это слишком муторно. А если
        муторно, я могу сократить вызов этого кода, закинув его в метод.</p>
    <p>Опять же, я могу сделать метод, который в себя будет просто принимать дату</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/10_regular_method.png' %}" alt="Обычный метод"/>
    <p>Однако в этом случае нам постоянно придется писать внутрь этого метода какую-то переменную. Это тоже может быть
        долго, если название переменной большое, или внутри стоит тернарное выражение. Плюс, не всегда можно знать о
        том, что такой метод вообще существует. Проще будет, что когда мы после нашей переменной с датой напишем точку,
        нам отобразится возможные методы расширения, которые мы можем использовать по отношению к этой переменной</p>
    <p>Тогда, чтобы наш метод стал методом расширения, немного видоизменим его. Во-первых, перед параметром <b>DateTime
        date</b> добавим слово <b>this</b>, чтобы метод знал, что данные нужно взять именно из <b>этой</b> переменной.
        Однако, после этого у нас появится ошибка. Метод требует универсальный класс.</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/11_this_error.png' %}" alt="Ошибка с this"/>
    <p>Давайте тогда переместим этот метод в какой-то универсальный класс (по факту, просто отдельный
        <a href="{% url 'staticclass' %}" class="default-link">статический</a>
        класс).</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/12_replace_method.png' %}" alt="Ошибка с this"/>
    <p>После этого появятся еще больше ошибок, все они в частности зависят от доступа и статичности. Нам этот метод
        необходимо сделать публичным и статичным. Тогда, все ошибки пропадут</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/13_static_class.png' %}" alt="Статический класс"/>
    <div class="code-block">
        <p class="code-text"> internal static class MyMethods
            {
            &nbsp; &nbsp; public static string FormatDate(this DateTime date)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; return "Дата: " + date.Year + "." + date.Month + "." +
            date.Day
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; + ". Время: " + date.Hour + ":" +
            date.Minute + ":" + date.Second;
            &nbsp; &nbsp; }
            }
        </p>
    </div>
    <p>И, после исправления ошибок, мы можем выделить основные принципы создания методов расширений</p>
    <ul>
        <li>Все методы расширения должны быть в отдельном статическом классе</li>
        <li>Сам метод расширения должен быть публичным и статичным (public static)</li>
        <li>Внутри метода расширения должен быть параметр с ключевым словом this, чтобы метод смог взять значения
            переменной, к которой он привязан
        </li>
        <li>Метод расширения может быть использован только к переменным того типа данных, что указан в параметре (если в
            параметре DateTime, то тогда мы можем использовать этот метод только с переменными типа DateTime)
        </li>
    </ul>
    <p>Как же использовать этот метод? Также, как и с LINQ – у нас просто есть какая-то переменная нужного нам типа
        данных, и чтобы вызвать метод расширения, необходимо написать названиеПеременной.МетодРасширения().</p>
    <p>Если вдруг у вас метод подсвечивается с ошибкой, мол, он не найден, нажмите по нему alt+enter или нажмите на
        лампочку -> Быстрые действия и рефакторинг -> пункт с Using. Такое может происходить, если метод расширения
        находится в другом файле, или, тем более, в проекте</p>
    <div class="code-block">
        <p class="code-text"> DateTime date = DateTime.Now;
            string formatedDate = date.FormatDate();
            Console.WriteLine(formatedDate);
        </p>
    </div>
    <p>Таким образом, FormatDate сам возьмет данные date, отформатирует их, и запишет в переменную formatedDate. Если мы
        выведем значение этой переменной, мы увидим следующее</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/14_output.png' %}" alt="Вывод форматированной даты"/>
    <p>Методы расширения, как и обычные методы, могут принимать в себя неограниченное количество параметров. Главное,
        чтобы у первого параметра было ключевое слово this.</p>
    <img class="mw-100" src="{% static 'img/charp/34_this/15_extra_param.png' %}"
         alt="Метод с дополнительным параметром"/>
    <div class="code-block">
        <p class="code-text"> public static string FormatDate(this DateTime date, string message)
            {
            &nbsp; &nbsp; Console.WriteLine(message);
            &nbsp; &nbsp; return "Дата: " + date.Year + "." + date.Month + "." + date.Day
            &nbsp; &nbsp; + ". Время: " + date.Hour + ":" + date.Minute + ":" +
            date.Second;
            }
        </p>
    </div>
    <p>При обращении к этому методу, присваивание значений в параметры начнется со второго параметра. Например, здесь я
        передаю какой-то текст. Текст будет записан не в переменную date, а переменную message, так как первое значение
        записалось из самой переменной date</p>
    <div class="code-block">
        <p class="code-text"> DateTime date = DateTime.Now;
            string formatedDate = date.FormatDate("попробовали внедрить второй параметр");
            Console.WriteLine(formatedDate);
        </p>
    </div>
    <img class="mw-100" src="{% static 'img/charp/34_this/16_second_param.png' %}"
         alt="Использование второго параметра"/>
    <img class="mw-100" src="{% static 'img/charp/34_this/17_final_output.png' %}" alt="Финальный вывод"/>

{% endblock %}