{% extends 'base.html' %}
{% load static %}


{% block previousPage %} {% url 'converters' %} {% endblock %}
{% block nextPage %} {% url 'var' %} {% endblock %}


{% block main_info %}
    <h2>Работа с датами - тип данных DateTime</h2>

    <p>DateTime позволяет нам работать с полным набором – секунды, минуты, часы, дни, месяцы и года, не разбивая это все
        на 6 отдельных интовых переменных. Создается как <a class="default-link" href="#">сложные переменные</a> –
        <b>типданных название = new типданных.</b> Создать можно несколькими способами – пустая дата, только дата, дата
        со
        временем, и текущая дата при помощи DateTime.Now </p>

    <div class="code-block">
        <p class="code-text">DateTime dt = new DateTime(); // 01.01.0001 00:00:00
            DateTime dt2 = new DateTime(2022,12,30); // 30.12.2022 00:00:00
            DateTime dt3 = new DateTime(2022,12,30, 23,40,59); // 30.12.2022 23:40:59
            DateTime dt4 = DateTime.Now; //текущая дата - 05.08.2023 11:43:18</p>
    </div>

    <p>Из каждой такой даты можно по отдельности взять любое число – год, месяц, дату и прочее. Беру дату, <b>а
        именно</b>, минуту, день, время и прочее</p>
    <img src="{% static 'img/charp/3_datetime/1_datehelper.png' %}" alt="Список того, что можно взять из даты"/>

    <p>К датам можно прибавлять или убирать дни, месяцы, года и т.п. при помощи методов AddDays, AddMonths, AddYears и
        прочее. </p>
    <img src="{% static 'img/charp/3_datetime/2_adddays.png' %}" alt="Добавление даты"/>

    <p>Чтобы наоборот, вычесть что-либо, необходимо вписать отрицательное число в эти методы.</p>
    <p style="text-align: center"><b>Новую дату, что при добавлении, что при вычитании, обязательно надо закинуть
        обратно в переменную!</b></p>

    <div class="code-block">
        <p class="code-text">DateTime dt4 = DateTime.Now; //текущая дата - 05.08.2023 11:43:18
            dt4 = dt4.AddDays(-4); // 01.08.2023 11:43:18</p>
    </div>

    <p>Даты можно также отображать в различных форматах – длинном и кратком. Язык в длинной дате зависит от языка вашей
        системы: в странах СНГ, например, дата пишется в формате DD.MM.YYYY, а в Америке: MM.DD.YYYY </p>
    <div class="code-block">
        <p class="code-text">Console.WriteLine(dt4.ToShortDateString()); // 01.08.2023
            Console.WriteLine(dt4.ToLongDateString()); // 01 августа 2023 г.</p>
    </div>

    <p>Можно еще сделать собственное отображение при помощи ToString(“&lt;тут формат&gt;”). Возможности формата будут
        написаны внутри подсказки от Visual Studio и вы можете их использовать как душа пожелает. Если вы вдруг закрыли
        контекстное меню с подсказками, нажмите Ctrl+Пробел внутри двойных кавычек с форматом</p>
    <img src="{% static 'img/charp/3_datetime/3_ownformat.png' %}" alt="Свой формат даты"/>

    <p>Буквы будут обозначать здесь необходимое отображение даты и времени</p>
    <p>Код для проверки:</p>

    <div class="code-block">
        <p class="code-text">DateTime dt4 = DateTime.Now; //текущая дата - 05.08.2023 11:43:18
            dt4 = dt4.AddDays(-4); // 01.08.2023 11:43:18

            Console.WriteLine(dt4.ToShortDateString()); // 01.08.2023
            Console.WriteLine(dt4.ToLongDateString()); // 01 августа 2023 г.

            Console.WriteLine(dt4.ToString("День недели: dddd, Дата: dd MMMM уууу, Время: HH:mm:ss, Часовой пояс: К"));
            //День недели: вторник, Дата: 01 августа 2023, Время: 12:07:27, Часовой пояс: +03:00
        </p>
    </div>


{% endblock %}