{% extends 'base.html' %}
{% load static %}

{% block main_info %}
    <h2>Var</h2>
    <p>
        Иногда, когда мы создаем переменные, Visual Studio нам вместо определенного типа данных переменной предлагает
        подставить <b>var</b>. Что же это такое и с чем его едят?
    </p>
    <p></p>
    <div class="code-block">
        <p class="code-text">int num = 5: //int тут излишен, и так понятно, что это целое число
            var numVar = 5;</p>
    </div>

    <p>Var не может понять что за тип данных хранится в этой переменной, если значения нет. С обычными типами данных
        проблем нет </p>
    <img src="{% static 'img/charp/4_var/1_typeerror.png' %}" alt="Ошибка с неявной типизацией"/>

    <p>Также var не является аналогом для слаботипизированной переменной. Проще говоря - если вы создаете переменную
        через var, это не значит, что там можно будет хранить и число, и текст, и класс, и коллекцию и прочее прочее
        прочее. </p>
    <p>Var - просто удобное слово для того, чтобы не писать тип данных каждый божий раз. Компилятор при запуске смотрит
        на значение переменной, подставляет вместо var нужный тип данных, и работает с ней дальше как с этим типом
        данных. </p>
    <p>Если мы попробуем присвоить значение другого типа данных для переменной, к которой var уже подставил тип данных,
        мы увидим ошибку </p>
    <img src="{% static 'img/charp/4_var/2_boolinterror.png' %}" alt="Попытка присваивания bool к int"/>

    <p style="text-align: center">Var выглядит очень удобно, но есть правило, когда его стоит использовать, а когда нет.
        <b>Если справа от равно сразу понятно, что за тип данных у нас будет использоваться, тогда стоит ставить var.
            Если не понятно – стоит явно указать тип данных</b></p>

    <p>Раз мы поняли, что компилятор может сам понимать, что за тип данных мы хотим от него получить, даже без
        конвертера, можно задуматься – а может ли код конвертировать один тип данных в другой сам по себе? Может. Мы
        можем использовать <a class="default-link" href="{% url 'transformation' %}">явное и неявное преобразование
            переменных</a></p>
{% endblock %}