{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#implict" class="default-link">Неявное преобразование - от меньшего к большему</a></li>
        <li><a href="#explict" class="default-link">Явное преобразование (приведение) - от большего к меньшему</a></li>
    </ul>

{% endblock %}


{% block previousPage %} {% url 'var' %} {% endblock %}
{% block nextPage %} {% url 'if' %} {% endblock %}


{% block main_info %}
    <h2>Явное и неявное преобразование данных</h2>
    <p>
        Преобразование - тоже самое, что и конвертация. Использовать явное и неявное преобразование можно для того,
        чтобы не писать каждый раз конвертацию, когда это не необходимо. Кратко - писать код можно меньше.
    </p>
    <p> Вопрос: а когда это нужно? Давайте разберем на маленьком макете. Возьмем две группы типа данных - строковые
        (string, char) и числовые (short, int и long). Для числовых, сделаю кружок для каждого, по мере возрастания -
        short входит в int, int входит в long
    </p>
    <img class="mw-100" src="{% static 'img/charp/5_transformation/1_circles.png' %}" alt="Типы данных в кругах"/>

    <p>Между всеми типами данных мы можем использовать конвертацию. ИЛИ, давайте глянем на это по-другому </p>
    <p>У нас получается два круга, не связанные друг с другом - я не могу прибавить число к строке, я не могу убрать
        третий символ из числа. </p>
    <ul>
        <li>Если я хочу переделать тип данных из одного круга в другой, например, из string в int, я использую
            <b>конвертацию</b>
        </li>
        <li>Если я хочу переделать тип данных из маленького круга в больший в рамках одной группы, например, из short в
            int, я использую <b>неявное преобразование</b>
        </li>
        <li>Если я хочу переделать тип данных из большего круга в меньший в рамках одной группы, например, из int в
            short, я использую <b>явное преобразование</b>
        </li>
    </ul>
    <img class="mw-100" src="{% static 'img/charp/5_transformation/2_connectedcircles.png' %}" alt="Соединение между кругами"/>
    <p>Разберем на примерах</p>

    <hr id="implict"/>
    <h4>Неявное преобразование</h4>
    <p>Скажем, у меня есть int-овое значение и я хочу поместить его в переменную типа данных long. <b>Неявное</b>
        преобразование можно выполнить, если значение может уместиться в переменной без усечения или округления. Long
        больше чем int, значит у нас все хорошо получится, и никакую дополнительную конвертацию писать не нужно </p>
    <div class="code-block">
        <p class="code-text">int num = 3758392;
            long bigNum = num; //все ок!</p>
    </div>
    <p>Тем не менее если преобразование нельзя выполнить без риска потери данных, код требует явно указать, что за тип
        данных мы хотим получить – явное преобразование, которое называется приведением. </p>



    <hr id="explict"/>
    <h4>Явное преобразование (приведение)</h4>
    <p><b>Приведение</b> — это способ явно указать компилятору, что необходимо выполнить преобразование и что мы в
        курсе, что может произойти потеря данных или приведение может завершиться сбоем во время выполнения. </p>
    <p>Приведение можно выполнить двумя способами: </p>
    <ol>
        <li>С помощью круглых скобок перед переменной. В этом случае, если при приведении типа данных что-то пойдет не
            так, тогда код выкинет нам ошибку, и продолжение будет невозможно. Такое преобразование рискованно
            <div class="code-block">
                <p class="code-text">double dou = 1024.5;
                    int num = (int)dou;

                    Console.WriteLine(num); //1024</p>
            </div>
        </li>
        <li>С помощью оператора as. В этом случае, если при приведении типа данных что-то пойдет не так, тогда <b>вместо
            значения в переменную напишется null</b>, а сам код продолжит свою работу. Такое преобразование безопасно, так
            как не выкинет ошибку.
            <div class="code-block">
                <p class="code-text">object dou = 1024.5;
                    string text = dou as string;

                    Console.WriteLine(text); //null</p>
            </div>
        </li>
    </ol>

{% endblock %}