{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#if" class="default-link">Условия - if</a></li>
        <li><a href="#moreif" class="default-link">If с несколькими условиями</a></li>
        <li><a href="#ifelse" class="default-link">Условие по умолчанию - if..else</a></li>
        <li><a href="#ifelseif" class="default-link">Вариации условий - if..else if</a></li>
        <li><a href="#switchcase" class="default-link">Другой вариант условия - switch-case</a></li>
    </ul>

{% endblock %}


{% block previousPage %} {% url 'transformation' %} {% endblock %}
{% block nextPage %} {% url 'cycles' %} {% endblock %}


{% block main_info %}
    <h2 id="if">Условия</h2>

    <p>
        Алгоритм программы должен удовлетворить всех. Всегда. Возьмем кофемашину: один хочет просто кофе, другой
        американо, третий латте, четвертому нужно 2 ложки сахара, пятому – пять. Для каждого из них программа должна
        работать по-своему. И здесь нам понадобятся условия.
    </p>
    <p>
        Как бы мы сформулировали мысль, если бы мы были бариста?
    </p>
    <p>
        Ко мне пришел человек. <b>Если</b> он хочет просто кофе, <b>то</b> сделать ему эспрессо. <b>Если</b> он хочет
        латте, <b>то</b> сделать эспрессо,
        взбить молоко и слить их вместе. Если ___, то ___. Маленькая программа для кофемашины выглядела бы так
    </p>

    <div class="code-block">
        <p class="code-text">Console.WriteLine("Что вы хотите?");
            string answer = Console.ReadLine();

            if (answer == "Кофе")
            {
            &nbsp; &nbsp; //делаем кофе
            &nbsp; &nbsp; Console.WriteLine("Вот ваш кофе!");
            }
            if (answer == "Латте")
            {
            &nbsp; &nbsp; //делаем латте
            &nbsp; &nbsp; Console.WriteLine("Вот латте!");
            }</p>
    </div>

    <p>
        Чтобы понять, как, что и почему здесь написано, вернемся к описанию работы бариста чуть выше и разберем каждое
        слово по пунктам
    </p>
    <ol>
        <li>Видим в наших рассуждениях слово «Если», пишем if.</li>
        <li>Все что после «Если» и до запятой (или «то») мы оборачиваем в круглые скобки. Это наше условие.</li>
        <li>Все что идет после запятой или «то» — действия, которые необходимо выполнить. Эти действия хранятся в
            контейнере в виде фигурных скобок.
        </li>
    </ol>

    <p>
        Важно!!! После условия мы не пишем точку с запятой, вместо этого идет пара фигурных скобок – почему так?
    </p>
    <p>
        Еще одно маленькое определение:
    </p>
    <ul>
        <li>Точка с запятой – точка в предложении. Когда мы ее ставим, мысль закончена.</li>
        <li>Фигурные скобки – запятая в предложении. Ставя их, мы говорим, что что-то будет дальше</li>
    </ul>

    <hr/>
    <p style="text-align: center">
        <b>Как в предложении я не могу написать «Привет.,», так и в программировании я не могу написать if ; {}</b>
    </p>
    <hr/>

    <p>
        Для составления условия есть следующие операторы:
    </p>
    <ul>
        <li>== - Равно</li>
        <li>!= - Не равно</li>
        <li>> - Больше</li>
        <li>< - Меньше</li>
        <li>>= Больше или равно</li>
        <li><= Меньше или равно</li>
    </ul>
    <p>
        Единственный случай, когда в условие можно не ставить оператор, это когда мы сравниваем true или false.
        Следующие два условия будут работать одинаково
    </p>
    <img class="mw-100" src="{% static 'img/charp/6_ifs/1ifwithtrue.png' %}" alt="Конструкция if с сравнением"/>
    <br/>
    <br/>
    <img class="mw-100" src="{% static 'img/charp/6_ifs/2ifwithouttrue.png' %}" alt="Конструкция if без сравнения"/>

    <p>
        Код для проверки:
    </p>
    <div class="code-block">
        <p class="code-text"> Console.WriteLine("Вы хотите кофе? Введите true или false");
            bool needCoffee = Convert. ToBoolean(Console.ReadLine());

            if (needCoffee)
            {
            &nbsp; &nbsp; Console.WriteLine("Сейчас приготовим");
            }</p>
    </div>

    <p>
        Так работает потому что все сравнения существуют для того, чтобы достать true или false. if (5==5) – верное
        утверждение, значит 5==5 равно true. If (6==5) – неверное, значит равно false. Два этих условия можно
        представить, как if (true) и if (false). В первом случае условие выполняется, во втором – нет.
    </p>
    <p>
        Внутри буленовских переменных уже хранится true или false, а значит, нам не нужно повторно делать условие true
        == true чтобы получить true. If (needCoffee) уже можно представить как if (true) или if (false), в зависимости
        от того, что хранится внутри переменной, поэтому в этом случае равно не обязательно
    </p>
    <p>
        Единственное – чтобы сделать «не равно», синтаксис будет выглядеть так. Обе эти записи идентичные
    </p>
    <img class="mw-100" src="{% static 'img/charp/6_ifs/3ifwithno.png' %}" alt="Конструкция if с отрицанием"/>

    <p>
        Код для проверки:
    </p>
    <div class="code-block">
        <p class="code-text"> if (needCoffee)
            {
            &nbsp; &nbsp; Console.WriteLine("Сейчас приготовим");
            }
            if (!needCoffee)
            {
            &nbsp; &nbsp; Console.WriteLine("Тогда не буду делать кофе");
            }</p>
    </div>

    <p>Кроме обычного if с одним условием есть еще различные конструкции:</p>


    <hr id="moreif"/>
    <h4 >If с несколькими условиями</h4>
    <p>Например, я хочу сделать условие «если мне сказали «добавьте молоко» или «сделайте кофе с молоком», я добавлю в
        кофе молоко». Я могу реализовать это через два условия</p>

    <div class="code-block">
        <p class="code-text">Console.WriteLine("Что еще добавить в кофе?");
            string answer = Console.ReadLine();

            if (answer == "добавьте молоко")
            {
            &nbsp; &nbsp; Console.WriteLine("Вот кофе с молоком!");
            }

            if (answer == "сделайте кофе с молоком")
            {
            &nbsp; &nbsp; Console.WriteLine("Вот кофе с молоком!");
            }
        </p>
    </div>

    <p>Но контейнер (тело двух этих ифов) будут одинаковыми. А мы ленивые, мы не хотим дважды писать одно и то же.
        Поэтому мы можем обьединить эти два ифа с помощью логической операции — И (на коде - &&) или ИЛИ (на коде - ||).
        Здесь мы хотим, чтобы выполнилось или то, или то, потому что не может быть такого момента, когда человек скажет
        и то и то одновременно, поэтому используем ИЛИ. Если мы хотим чтобы выполнялись одновременно два условия — пишем
        И.</p>
    <div class="code-block">
        <p class="code-text">Console.WriteLine("Что еще добавить в кофе?");
            string answer = Console.ReadLine();

            if (answer == "добавьте молоко" || answer == "сделайте кофе с молоком")
            {
            &nbsp; &nbsp; Console.WriteLine("Вот кофе с молоком!");
            }
        </p>
    </div>

    <p>Важный момент: мы не можем написать <b>answer == "добавьте молоко" || "сделайте кофе с молоком"</b>. Каждое
        условие,
        которое находится слева или справа || или &&, должно иметь возможность быть вынесено в отдельный if. Если мы
        будем выносить правое условие в отдельный if, получится вот так</p>
    <div class="code-block">
        <p class="code-text">if ("сделайте кофе с молоком")
            {
            &nbsp; &nbsp; Console.WriteLine("Вот кофе с молоком!");
            }
        </p>
    </div>

    <p>И становится неясно: что именно кофе с молоком? Если сделайте? Это как вообще? Не ясно, что чему равно, поэтому
        как по одиночке такое условие не может существовать, так и внутри другого if</p>
    <p>Для наглядности, вот два примера, когда нужно использовать И или ИЛИ в условиях</p>

    <div style="text-align: center">
        <b>Есть условие А и условие B</b>
        <br/>
        <b>Я хочу, чтобы выполнилось И то, И то - &&</b>
        <br/>
        <img class="mw-100" src="{% static 'img/charp/6_ifs/4tableand.png' %}" alt="Таблица с И"/>
        <br/>
        <b>Я хочу, чтобы выполнилось ИЛИ то, ИЛИ то – ||</b>
        <br/>
        <img class="mw-100" src="{% static 'img/charp/6_ifs/5tableor.png' %}" alt="Таблица с ИЛИ"/>
    </div>

    <hr/>
    <h4 id="ifelse">If…else</h4>
    <p>
        Если я хочу сделать универсальный ответ для всех вариантов, которые мне не подходят, в C# есть <b>«иначе»</b>,
        переводя на английский -
        <b>else</b>
    </p>
    <p>
        Возьмем условие: «Если человек попросил кофе, дать ему кофе. Иначе — сказать, что ничего другого у нас нет»
    </p>
    <p>
        Уже в предложении мы видим, что у иначе нет никакого условия, так как это всё, что будет в любом другом случае —
        человек ничего не сказал, попросил воды, молока, или огромную спортивную машину. Поэтому это иначе — else — мы
        пишем без круглых скобок с условием
    </p>
    <div class="code-block">
        <p class="code-text">Console.WriteLine("Что вы хотите?");
            string answer = Console.ReadLine();

            if (answer == "Кофе")
            {
            &nbsp; &nbsp; //делаем кофе
            &nbsp; &nbsp; Console.WriteLine("Вот ваш кофе!");
            }
            else
            {
            &nbsp; &nbsp; Console.WriteLine("Ничего другого у нас нет");
            }</p>
    </div>
    <p>Только в случае «Кофе» у нас выводится ответ «Вот ваш кофе!» Во всех остальных – сообщение «Ничего другого у нас
        нет»</p>
    <p>
        <img class="mw-100" src="{% static 'img/charp/6_ifs/6ifelseresult1.png' %}" alt="Результат if-else в положительном случае"/>
        <img class="mw-100" src="{% static 'img/charp/6_ifs/7ifelseresult2.png' %}" alt="Результат if-else в отрицательном случае"/>
        <img class="mw-100" src="{% static 'img/charp/6_ifs/8ifelseresult3.png' %}" alt="Результат if-else в случае пустоты"/>
    </p>

    <p>Но что если мне ооооочень нужно написать условие для какого-то из этих событий в «иначе»? Например, если меня
        попросили сделать кофе, то я дам кофе, но если кофе не просили, а попросили эспрессо, то я дам ему эспрессо,
        иначе – ничего нет. Это тоже можно реализовать — с помощью else if. </p>

    <hr id="ifelseif"/>
    <h4 >If…else if</h4>
    <p>Else if объединяет в себе конструкцию else и if. Else if может быть сколько угодно, главное, чтобы они шли после
        первого if и до последнего else (else вообще необязателен в данном случае)</p>
    <div class="code-block">
        <p class="code-text">Console.WriteLine("Что вы хотите?");
            string answer = Console.ReadLine();

            if (answer == "Кофе")
            {
            &nbsp; &nbsp; //делаем кофе
            &nbsp; &nbsp; Console.WriteLine("Вот ваш кофе!");
            }
            else if (answer == "Эспрессo")
            {
            &nbsp; &nbsp; Console.WriteLine("Вот ваш эспрессo");
            }
            else
            {
            &nbsp; &nbsp; Console.WriteLine("Ничего другого у нас нет");
            }</p>
    </div>
    <p>Else if начнет работать <b>только</b> если предыдущее условие было неверным. Когда или зачем его использовать,
        если можно просто написать много if? Рассмотрим на двух примерах</p>
    <img class="mw-100" src="{% static 'img/charp/6_ifs/9ifandelseif.png' %}" alt="Разница между if и else-if"/>
    <p>Конструкция if-if-if работают как множественный выбор – каждый if разрозненный, нужно проверить каждый выбор по
        отдельности: в списке продуктов я могу купить яица, хлеб и молоко, но не купить помидоры. Проверять я буду все
        по списку, от покупки молока не зависит покупка помидоров</p>
    <p>Конструкция if - else if - else if работает как одинарный выбор – каждые if – else if един, каждое последующее
        условие выполняется только если предыдущее не было выбрано: если из 100 вузов я выбрала пятый, мне не нужно еще
        95 раз проверять, что другие вузы не были выбраны</p>
    <p>Эту же конструкцию можно представить в формате switch-case</p>


    <hr id="switchcase"/>
    <h4>Switch-case</h4>
    <p>
        Если наша конструкция if – else if – else if проверяет только значение внутри переменной, без каких-либо
        дополнительных условий, проверок на больше\меньше и прочее, то ее можно записать в другом формате – switch-case
    </p>
    <p>
        Конструкция работает по следующему принципу:
    </p>
    <ul>
        <li>Берется какая-то переменная, значение которой может <b>меняться</b>. Она пишется внутри <b>switch</b></li>
        <li>Для разных <b>случаев</b> значения переменных пишется отдельные case. Важно! Все case пишутся без фигурных
            скобок, так что чтобы код понял, что один из case закончился, в конце пишется break
        </li>
        <li>Вместо else в этой конструкции используется default – вариант по умолчанию. Он также должен закончится
            break
        </li>
    </ul>

    <p>
        В сыром формате switch-case выглядит вот так:
    </p>
    <div class="code-block">
        <p class="code-text">switch (переменная)
            {
            &nbsp; &nbsp; case "Значение1":
            &nbsp; &nbsp; &nbsp; &nbsp; код
            &nbsp; &nbsp; &nbsp; &nbsp; break;
            &nbsp; &nbsp; case "Значение2":
            &nbsp; &nbsp; &nbsp; &nbsp; код
            &nbsp; &nbsp; &nbsp; &nbsp; break;
            &nbsp; &nbsp; ...
            &nbsp; &nbsp; case "ЗначениеN":
            &nbsp; &nbsp; &nbsp; &nbsp; код
            &nbsp; &nbsp; &nbsp; &nbsp; break;
            &nbsp; &nbsp; default:
            &nbsp; &nbsp; &nbsp; &nbsp; код
            &nbsp; &nbsp; &nbsp; &nbsp; break;
            }</p>
    </div>

    <p>
        Наш вариант с латте мы также можем переделать под Switch-case:
    </p>
    <ul>
        <li>В качестве переменной в switch пойдет answer</li>
        <li>Вместо условий answer == “Кофе” идет case “Кофе”:</li>
        <li>Весь код пишется не между фигурными скобками, а между case и break</li>
        <li>Вместо else идет default без значения – сразу код, в конце которого будет break</li>
    </ul>
    <img class="mw-100" src="{% static 'img/charp/6_ifs/10ifandswitch.png' %}" alt="Переделка if под switch-case"/>

    <p>
        Использовать switch-case приятно в том случае, когда у меня есть несколько вариантов значения переменной, но
        действие я хочу выполнить одно и тоже. Проще говоря – если ответ равен «Кофе» или «кофе» или «кофейку» или
        блаблабла, я хочу вывести одно и тоже – «Вот ваш кофе!»
    </p>
    <p>
        Если мы используем if, мы бы воспользовались оператором ИЛИ (||) и множественными условиями. Код выглядел бы вот
        так
    </p>
    <img class="mw-100" src="{% static 'img/charp/6_ifs/11alotofif.png' %}" alt="Множественные условия в if"/>

    <p>
        В случае с Switch-case конструкция будет проще – над необходимым действием нужно поставить несколько case
    </p>
    <img class="mw-100" src="{% static 'img/charp/6_ifs/12alotofswitch.png' %}" alt="Множественные условия в switch"/>

    <p>
        Полностью измененный код выглядит следующим образом
    </p>
    <img class="mw-100" src="{% static 'img/charp/6_ifs/13ifandswitchwithmorecases.png' %}"
         alt="Сравнение if и switch в случае с множественными условиями"/>

    <p>
        Код для проверки:
    </p>

    <div class="code-block">
        <p class="code-text">Console.WriteLine("Что вы хотите?");
            string answer = Console.ReadLine();

            switch (answer)
            {
            &nbsp; &nbsp; case "Кофе":
            &nbsp; &nbsp; case "кофе":
            &nbsp; &nbsp; case "кофейку":
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Вот ваш кофе!");
            &nbsp; &nbsp; &nbsp; &nbsp; break;
            &nbsp; &nbsp; case "Эспресco":
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Вот ваш эспрессo");
            &nbsp; &nbsp; &nbsp; &nbsp; break;
            &nbsp; &nbsp; default:
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("Ничего другого у нас нет");
            &nbsp; &nbsp; &nbsp; &nbsp; break;
            }</p>
    </div>

    <p>
        Если углубляться внутрь, конструкт switch-case работает немного быстрее, нежели if-else if. Однако нужно
        помнить, что в ифах вы можете использовать любые условия, а в switch-case – только варьировать код в зависимости
        от значения переменной, так что не всегда стоит использовать то, что быстрее.
    </p>
{% endblock %}