{% extends 'base.html' %}
{% load static %}

{% block content_description %}
    <h2>Содержание</h2>
    <ul>
        <li><a href="#while" class="default-link">Дефолтный цикл - while</a></li>
        <li><a href="#breakcontinue" class="default-link">Операторы перехода в циклах - break и continue</a></li>
        <li><a href="#for" class="default-link">Счетчик или компактный while - for</a></li>
        <li><a href="#dowhile" class="default-link">Цикл с постусловием - do..while</a></li>
    </ul>

{% endblock %}


{% block previousPage %} {% url 'if' %} {% endblock %}
{% block nextPage %} {% url 'collections' %} {% endblock %}


{% block main_info %}
    <h2>Циклы: while, for, do..while</h2>
    <p>Цикл - процесс, составляющий кругооборот в течение известного промежутка времени. Кратко – повторяющийся блок
        кода.</p>
    <p>Когда нам стоит использовать циклы?</p>
    <ul>
        <li>Когда у нас есть несколько повторяющихся строк кода, например, 5 выводов в консоль одной и той же
            информации. Чтобы не копировать код 5 раз, можно внести их в цикл
        </li>
        <li>Когда мы точно знаем, что код должен повторится, но не знаем сколько раз. Возвращаясь к примеру с бариста и
            кофе – человек попросил сахар в кофе. Сколько нам нужно ложек сахара? 3, 5, 10? Однако каждый раз мы будем
            делать одно и тоже – добавлять сахар в чай
        </li>
    </ul>
    <p>Как и с условиями, в русском языке мы можем найти конструкцию, по которой станет понятно, что нам нужен цикл.
        Слышим слово <b>пока</b> – ставим цикл:</p>
    <ul>
        <li><b>Пока</b> человек хочет сахар, добавить сахар в кофе.</li>
        <li><b>Пока</b> я не доехала до нужной станции, оставаться в поезде.</li>
        <li><b>Пока &lt;условие&gt;, &lt;действие.&gt;.</b></li>
        <li>Говорить, <b>пока</b> меня кто-то слушает.</li>
        <li>Прикладывать карту, <b>пока</b> оплата не пройдет.</li>
        <li><b>&lt;Действие&gt;, пока &lt;условие&gt;.</b></li>
    </ul>
    <p>Слово «пока» может быть в двух местах – в начале предложения, и в середине, после запятой. Отсюда, мы можем
        вывести 2 вида циклов:</p>
    <ul>
        <li><b>Цикл с предусловием</b> (пока &lt;вставьте условие&gt;, &lt;вставьте действие&gt;) – это цикл, который
            сразу
            проверяет условие, и если оно верно, выполняет действие. Может не выполнится ни разу (например, человек
            сразу же не хочет сахар, значит и добавлять его не нужно)
        </li>
        <li><b>Цикл с постусловием</b> – цикл, который сначала выполняет действие, а только потом проверяет, нужно ли
            его
            повторять, или нет. Всегда выполнится хотя бы один раз, так как код идет сверху вниз, а в таких циклах стоит
            сначала действие, потом условие (я не пойму, что меня кто-то слушает, если не скажу что-то хотя бы раз).
            Такие циклы обычно переводят что-то в другое состояние (я начала говорить, я оплатила картой). Условие нужно
            чтобы проверить, перешли ли мы в это состояние, или нет (слушают ли нас, чтобы мы говорили; прошла ли
            оплата, чтобы мы оплатили)
        </li>
    </ul>
    <p>Циклы с предусловием: while, for. Циклы с постусловием: do…while</p>




    <hr class="anchor" id="while"/>
    <h4>While</h4>
    <p>While – тот же самый if, только выполняется много раз. Если условие верно, повторять повторять повторять.
        Структура написания такая же, как у if, только вместо самого слова if ставится слово while</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/1_whilescheme.png' %}" alt="Схема while"/>
    <p>Как и в if, условие могут быть любыми. С bool переменными можно не писать true или false. Можно использовать
        несколько условий внутри одного цикла при помощи && или ||. </p>
    <p style="text-align: center">Единственное правило – <b>если в условии цикла используется переменная, она должна
        меняться внутри цикла</b>. Если в условии цикла несколько переменных, хотя бы одна из них должна меняться. Что
        это
        значит?</p>
    <p>Рассмотрим пример с сахаром и кофе. Мы спросим человека, нужно ли ему кофе, а затем, пока он хочет кофе, будем
        его добавлять</p>
    <div class="code-block">
        <p class="code-text">Console.WriteLine("Вам добавить сахар в кофе?");
            string answer = Console.ReadLine();

            while (answer == "Да")
            {
            &nbsp; &nbsp; Console.WriteLine("Добавила ложку сахара в кофе");
            }</p>
    </div>

    <p>Рассмотрим пример с сахаром и кофе. Мы спросим человека, нужно ли ему кофе, а затем, пока он хочет кофе, будем
        его добавлять</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/2_whileresult.png' %}"
         alt="Результат while, если условие ни разу не выполнилось"/>
    <p>Если мы напишем «Нет», цикл не выполнится ни разу – условие было неверно, while (false) не работает</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/3_whileinfiniteresult.png' %}" alt="Результат бесконечного while"/>
    <p>Рассмотрим почему так происходит. На второй строке мы ввели ответ – «Да», в answer
        теперь хранится «Да». На 4 строке мы смотрим – answer равно «Да»? Да, вывести строку. Повтор: answer равно «Да»?
        Да, вывести строку</p>
    <p>answer равно «Да»? Да, вывести строку</p>
    <p>answer равно «Да»? Да, вывести строку</p>
    <p>answer равно «Да»? Да, блаблабла и так далее.</p>
    <p>Значение answer не меняется внутри цикла, поэтому условие будет верно всегда – while (true) – и этот цикл никогда
        не закончится. Такой цикл называется бесконечным и тоже нередко используется, например, в таймерах. </p>
    <p>В бесконечном цикле вместо условия можно просто написать true. Из таких циклов можно выйти только
        «насильственно», через оператор break или return, но про них мы поговорим попозже</p>
    <p>Сейчас постоянный вывод «Добавила ложку» - это проблема. Я не хочу ему вывалить грузовик сахара в кофе, а значит,
        мне каждый раз нужно спрашивать, нужно ли продолжать добавлять сахар, или нет</p>
    <div class="code-block">
        <p class="code-text">Console.WriteLine("Вам добавить сахар в кофе?");
            string answer = Console.ReadLine();

            while (answer == "Да")
            {
            &nbsp; &nbsp; Console.WriteLine("Добавила ложку сахара в кофе");

            &nbsp; &nbsp; //вот тут мы спрашиваем, и значение переменной answer меняется
            &nbsp; &nbsp; //если оно меняется, цикл уже не может быть бесконечным
            &nbsp; &nbsp; Console.WriteLine("Добавить еще?");
            &nbsp; &nbsp; answer = Console.ReadLine();
            }</p>
    </div>
    <p>И тогда цикл может быть закончен</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/4_whilegoodresult.png' %}" alt="Результат while"/>
    <p style="text-align: center">Здесь мы видим, что в условии используется переменная answer. Внутри цикла эта
        переменная должна меняться, чтобы цикл смог закончится. Если условий несколько, меняться может только одна из
        этих переменных. Самое главное – следить, чтобы цикл не стал бесконечным, иначе из него можно будет выходить
        только через break или return. О return мы поговорим попозже, сейчас, рассмотрим что такое break, а вместе с ним
        – continue</p>



    <hr class="anchor" id="breakcontinue"/>
    <h4>Break и continue</h4>
    <p>Break и continue – два оператора перехода. break – «ломает» цикл и выходит из него, continue – пропускает все,
        что было в цикле после него</p>
    <p>В качестве примера, сделаем маленький цикл с тем же сахаром, но теперь, скажем, что мы будем добавлять 10 (!)
        ложек сахара, и цикл должен повторится 10 раз. 10 это очень много, поэтому внутри цикла сделаем условие, что
        если количество будет больше 5, то мы будем что-то делать – либо ломать цикл, либо продолжать его выполнение. В
        конце скажем, что мы закончили</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/5_cycleexample.png' %}" alt="Цикл для разбора break и continue"/>

    <p>Попробуем поставить внутрь условия break и посмотрим, что он будет выводить. Выведем также количество ложек, на
        котором сработало условие</p>
    <p>Как только цикл дошел до break, цикл был закончен, и код _сразу_ пошел дальше к сообщению “все”, не заканчивая
        все обороты цикла. Break будет полезен в том случае, если у вас бесконечный цикл, который нужно когда-то
        закончить</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/6_cyclebreak.png' %}" alt="Цикл с break"/>

    <p>Код для проверки:</p>
    <div class="code-block">
        <p class="code-text">int sugarAmount = 0;

            while (sugarAmount < 10)
            {
            &nbsp; &nbsp; //добавили 1 ложку сахара
            &nbsp; &nbsp; sugarAmount++;

            &nbsp; &nbsp; if (sugarAmount > 5)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine(sugarAmount + " - это очень много");
            &nbsp; &nbsp; &nbsp; &nbsp; break;
            &nbsp; &nbsp; }

            &nbsp; &nbsp; Console.WriteLine("Добавлено " + sugarAmount + "ложек сахара");
            }

            Console.WriteLine("все!");</p>
    </div>


    <p>Попробуем вместо break поставить continue. Когда цикл доходит до него, все, что идет после continue пропускается,
        и цикл сразу же идет на новый оборот, новую итерацию – сообщение «Добавлено» не было выведено, так как continue
        не дал идти дальше. Заметьте, что цикл не заканчивается</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/7_cyclecontinue.png' %}" alt="Цикл с continue"/>
    <p>Код для проверки:</p>
    <div class="code-block">
        <p class="code-text">int sugarAmount = 0;

            while (sugarAmount < 10)
            {
            &nbsp; &nbsp; //добавили 1 ложку сахара
            &nbsp; &nbsp; sugarAmount++;

            &nbsp; &nbsp; if (sugarAmount > 5)
            &nbsp; &nbsp; {
            &nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine(sugarAmount + " - это очень много");
            &nbsp; &nbsp; &nbsp; &nbsp; continue;
            &nbsp; &nbsp; }

            &nbsp; &nbsp; Console.WriteLine("Добавлено " + sugarAmount + "ложек сахара");
            }

            Console.WriteLine("все!");</p>
    </div>
    <p><b>ВАЖНЫЙ МОМЕНТ!</b> Break и continue срабатывают только для ближайшего верхнего цикла. Если вы напишите что-то
        подобное, то прерван будет только цикл внутри цикла, внешний прерван не будет.</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/8_workingbreak.png' %}" alt="Break, работающий только для первого цикла"/>



    <hr class="anchor" id="for"/>
    <h4>For</h4>
    <p>For – более компактный вариант записи while, потому что прямо внутри цикла мы можем создавать переменную, ставить
        условие, и указать действие в конце каждого оборота цикла. </p>
    <p>Давайте продолжим развивать тему с количеством ложек сахара. Вместо фантомных десяти ложек из предыдущего
        примера, спросим у пользователя, сколько ему нужно ложек. Сколько он скажет – сколько и добавим.</p>
    <p>Цикл while будет выглядеть следующим образом</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/9_whileforfor.png' %}" alt="Пример while для переделки в for"/>
    <p>Мы видим тут 2 момента:</p>
    <ul>
        <li>Мы создали отдельную переменную sugarInTeaAmount, которая нужна ТОЛЬКО для цикла, чтобы считать количество
        </li>
        <li>В конце каждого оборота цикла к переменной sugarInTeaAmount прибавляется единица. Что бы не происходило
            выше, внизу всегда будет прибавляться единица
        </li>
    </ul>
    <p>Создание переменной и финальное действие в каждом обороте цикла можно записать более компактно, через for.
        Посмотрим на его структуру</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/10_forscheme.png' %}" alt="Схема for"/>
    <p>Объявление цикла for состоит из трех частей. Первая часть объявления цикла - некоторые действия, которые
        выполняются один раз до выполнения цикла. Обычно здесь определяются переменные, которые будут использоваться в
        цикле.</p>
    <p>Вторая часть - условие, при котором будет выполняться цикл. Пока условие равно true, будет выполняться цикл.</p>
    <p>И третья часть - некоторые действия, которые выполняются после завершения блока цикла. Эти действия выполняются
        каждый раз при завершении блока цикла.</p>
    <p>После объявления цикла в фигурных скобках помещаются сами действия цикла.</p>
    <p>Зная это, while, написанный выше, можно переделать вот в такой for. Работать будет идентично</p>
    <div class="code-block">
        <p class="code-text">//сколько попросил человек
            Console.WriteLine("Сколько сахара вы хотите?");
            int askedAmount = Convert.ToInt32(Console.ReadLine());

            for (int sugarInTeaAmount = 1; sugarInTeaAmount <= askedAmount; sugarInTeaAmount++)
            {
            &nbsp; &nbsp; Console.WriteLine("Теперь в чае " + sugarInTeaAmount + " ложек");
            }</p>
    </div>
    <p>Так как for – все еще цикл, операторы break и continue могут работать и здесь</p>



    <hr class="anchor" id="dowhile"/>
    <h4>Do..while</h4>
    <p>В отличие от while и for, do…while сначала выполняет код цикла, а только потом проверяет условие цикла. Пока это
        условие верно, цикл будет повторяться.</p>
    <p>Структура do…while полностью обратна while – мы буквально взяли while, переместили его вниз, а сверху, чтобы
        обозначить, что сейчас будет цикл, поставили do</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/11_dowhilescheme.png' %}" alt="Схема do..while"/>
    <p>Например, напишу следующий код, согласно условию «говорить, пока меня кто-то слушает». Объявлю переменную
        isListening для работы, чтобы код смог понять с чем я работаю не только внутри цикла. Внутри каждого оборота я
        буду проверять, слушает ли меня кто-то</p>
    <div class="code-block">
        <p class="code-text">bool isListening;

            do
            {
            &nbsp; &nbsp; Console.WriteLine("Говорю");

            &nbsp; &nbsp; Console.WriteLine("Меня слушают?");
            &nbsp; &nbsp; isListening = Convert.ToBoolean(Console.ReadLine());
            } while (isListening == true);

            //писать для bool переменных, что они равны
            //true не обязательно, так как true == true
            //будет равно true. значит можно просто
            //оставить значение этой переменной, оно само
            //будет проверять значение внутри себя
            // while (isListening);</p>
    </div>
    <p>Посмотрим результат этой программы. Как мы можем заметить, у нас сразу же показывается на экране «Говорю»,
        которое по коду, находится у нас внутри цикла. Если мы будем писать постоянно true, разница будет не очень видна
        (скрин слева). Но если мы сразу напишем false, мы увидим, что цикл один раз выполнился, и только под конец
        проверил, а нужно ли нам это делать (скрин справа).</p>
    <img class="mw-100" src="{% static 'img/charp/7_cycles/12_dowhileresult.png' %}" alt="Результат работы do..while"/>


{% endblock %}