{% extends 'base.html' %}
{% load static %}

{% block main_info %}
    <div class="p-3 d-flex flex-column flex-lg-row align-items-center justify-content-between border-bottom border-secondary">
        <div class="d-flex align-items-center gap-3">
            <img src="{% static 'img/safika.png' %}" class="rounded-circle border border-2 border-success"
                 style="width:80px;height:80px"/>
            <div>
                <h1 class="fs-2 fw-bold">София Скорогудаева</h1>
                <p class="text-success">Team lead C#/.NET разработки</p>
            </div>
        </div>
        <div class="d-flex flex-column">
            <p class="m-0">
                <a class="default-link" href="mailto:sofia.skorogudaeva@mail.ru">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor"
                         class="bi bi-envelope-at-fill" viewBox="0 0 21 21">
                        <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                        <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
                    </svg>
                    <span class="text-white">sofia.skorogudaeva@mail.ru</span>
                </a>
            </p>
            <p>
                <a class="default-link" href="https://github.com/liromanz">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor"
                         class="bi bi-github"
                         viewBox="0 0 21 21 ">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                    </svg>
                    <span class="text-white">Liromanz</span>
                </a>
            </p>
        </div>
    </div>

    <main class="p-3 row">
        <div class=" col-xxl">
            <section class="mb-5">
                <div class="d-flex align-items-center gap-2 mb-2">
                    <div class="d-flex align-items-center justify-content-center text-success"
                         style="width:32px;height:32px">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             width="24" height="24">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </div>
                    <h2 class="fs-2 fw-bold text-success"
                        title="Человек я простой, что видно по лекциям, но презентовать себя нужно дорого-богато 😅">
                        Обо мне</h2>
                </div>
                <div class="border-top border-secondary pt-3">
                    <p class="mb-2">
                        <b>Я — C# разработчик и Team Lead</b>, который любит и технологии и работу с людьми. В
                        работе
                        стремлюсь создавать понятный и единый контекст общения, объясняя сложные технические решения
                        простым языком — как для тех, кто далёк от разработки, так и для опытных специалистов. С
                        красным дипломом окончила свое образовательное учреждение и в данный момент совмещаю
                        руководство командой с разработкой, не забывая ни про один аспект каждой из областей.
                    </p>
                    <p class="mb-2">
                        Меня увлекает не только техническая сторона проектов, но и их бизнес-составляющая:
                        параллельно с развитием кодовой базы изучаю бизнес-анализ и процессы управления проектами.
                    </p>
                    <p class="mb-2">
                        Также преподавала C# в вузе, накопив богатый лекционный материал, которым теперь хочу
                        поделиться. Моя цель — создавать продукты, которые приносят пользу, и делиться знаниями с
                        открытостью и энтузиазмом.
                    </p>
                    <p class="mb-2">
                        А еще я не особо слежу за гитом 😅
                    </p>
                </div>
            </section>
            <div class="row mb-5">
                <section class="col-md-6">
                    <div class="d-flex align-items-center gap-2 mb-2">
                        <div class="d-flex align-items-center justify-content-center text-success">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" width="24" height="24">
                                <path d="M2 12h20M2 12a10 10 0 0 1 20 0M2 12a10 10 0 0 0 20 0M4 12a8 8 0 0 1 16 0M4 12a8 8 0 0 0 16 0M6 12a6 6 0 0 1 12 0M6 12a6 6 0 0 0 12 0M8 12a4 4 0 0 1 8 0M8 12a4 4 0 0 0 8 0M10 12a2 2 0 0 1 4 0M10 12a2 2 0 0 0 4 0"></path>
                            </svg>
                        </div>
                        <h2 class="fs-2 fw-bold text-success">Навыки</h2>
                    </div>
                    <div class="border-top border-secondary pt-3">
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>Руководство командой</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>Разработка и оптимизация программного обеспечения</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>Веб-разработка</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>Проектирование архитектуры</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>Анализ бизнес-процессов</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>Работа по Agile-методологиям</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>Преподавание и публичные выступления</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>Барменство (ну а вдруг)</span>
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="col-md-6">
                    <div class="d-flex align-items-center gap-2 mb-2">
                        <div class="d-flex align-items-center justify-content-center text-success">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" width="24" height="24">
                                <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                                <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                            </svg>
                        </div>
                        <h2 class="fs-2 fw-bold text-success">Инструментарий</h2>
                    </div>
                    <div class="border-top border-secondary pt-3">
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>C#, .NET, WinForms, WPF, MAUI, Avalonia, Asp.NET</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>Python, Django</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>Rest-API, GraphQL</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>MSSQL, PostgreSQL, MySQL, SQLite</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>Git, Microsoft Azure, Yandex Cloud, TimeWeb.</span>
                            </li>
                            <li class="d-flex align-items-center gap-2 mb-3">
                                <span class="rounded-circle bg-success p-2"></span>
                                <span>BPMN, IDEF1, UML, Канва бизнес-моделей</span>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-xxl">
            <div class="d-flex align-items-center gap-2 mb-2">
                <div class="d-flex align-items-center justify-content-center text-success">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         width="24" height="24">
                        <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                    </svg>
                </div>
                <h2 class="fs-2 fw-bold text-success">Опыт работы</h2>
            </div>
            <div class="border-top border-secondary pt-3">
                <div class="row">
                    <div class="col-md-3 mb-3 mb-md-0">
                        <h3 class="fw-bold">Октябрь 2024 - н.в.</h3>
                        <p>АО "Иридиум"</p>
                    </div>
                    <div class="col-md-9 position-relative">
                        <div class="d-none d-md-block position-absolute"
                             style="left:0;top:0;bottom:0;width:2px;background-color:#198754"></div>
                        <div class="d-none d-md-block position-absolute rounded-circle bg-success"
                             style="left:-7px;top:0;width:16px;height:16px"></div>
                        <div class="ps-md-4">
                            <h3 class="fs-4 fw-bold text-success">Team-lead C#/.NET разработки</h3>
                            <p class="mb-4">
                                Руководитель Windows-команды разработки почтового клиента.
                            </p>

                            <div class="row">
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <ul class="list-unstyled">
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Разработка приложения WinForms </span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Работа с почтовыми протоколами</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Разработка и внедрение модулей</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Контроль релизов приложения</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-unstyled">
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Организация команды</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Планирование целей продукта</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Менторство</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Прототипирование функционала</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top border-secondary pt-3">
                <div class="row">
                    <div class="col-md-3 mb-3 mb-md-0">
                        <h3 class="fw-bold">Июль 2024 - Сентябрь 2024</h3>
                        <p>Ecoplatform</p>
                    </div>
                    <div class="col-md-9 position-relative">
                        <div class="d-none d-md-block position-absolute"
                             style="left:0;top:0;bottom:0;width:2px;background-color:#198754"></div>
                        <div class="d-none d-md-block position-absolute rounded-circle bg-success"
                             style="left:-7px;top:0;width:16px;height:16px"></div>
                        <div class="ps-md-4">
                            <h3 class="fs-4 fw-bold text-success">C#/.NET разработчик</h3>
                            <p class="mb-4">
                                Проектная деятельность - разработка приложения для взвешивания мешков и
                                автоматической отправки данных на сервер
                            </p>

                            <div class="row">
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <ul class="list-unstyled">
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Разработка WPF-приложения</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Передача данных через COM Port</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-unstyled">
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Работа с API</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Поддержка проекта</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top border-secondary pt-3">
                <div class="row">
                    <div class="col-md-3 mb-3 mb-md-0">
                        <h3 class="fw-bold">Март 2022 - Сентябрь 2024</h3>
                        <p>IT-компании и вуз</p>
                    </div>
                    <div class="col-md-9 position-relative">
                        <div class="d-none d-md-block position-absolute"
                             style="left:0;top:0;bottom:0;width:2px;background-color:#198754"></div>
                        <div class="d-none d-md-block position-absolute rounded-circle bg-success"
                             style="left:-7px;top:0;width:16px;height:16px"></div>
                        <div class="ps-md-4">
                            <h3 class="fs-4 fw-bold text-success">Junior-Middle C#/.NET разработчик,
                                преподаватель</h3>
                            <p class="mb-4">
                                Разработчик Desktop-приложений на микросервисной архитектуре, преподаватель
                                дисциплины "Основы алгоритмизации и программирования"
                            </p>

                            <div class="row">
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <ul class="list-unstyled">
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Внедрение новых модулей в API</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Бесшовная интеграция модулей</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Локализация приложений</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>UI разработка, Backend разработка</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-unstyled">
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Написание лекционного материала</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Менторство и частное обучение</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Написание технической документации</span>
                                        </li>
                                        <li class="d-flex align-items-center gap-2 mb-2">
                                            <span class="rounded-circle bg-success p-2"></span>
                                            <span>Лекторство</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}