{% extends 'base.html' %}
{% load static %}

{% block main_info %}
    <h2>Добро пожаловать!</h2>
    <p>
        Сайт был создан для того, чтобы поделиться наработками базы знаний о C#, которые рассказывались в семинарном
        формате для студентов-программистов. <a class="default-link">Автор сайта</a> - действующий разработчик C#, и в
        рамках новых проектов и изучения новых технологий, информация на сайте также пополняется и делится по разделам.
    </p>
    <p>
        Сейчас на сайте есть раздел об основах C# и desktop-разработке приложения на C#, однако блоки будут
        увеличиваться. Об обновлениях вы можете узнать из <a class="default-link">dev-блога</a>. Также, если вам
        нравится представленный материал, вы можете поддержать проект по кнопке в правом верхнем углу
    </p>

    <p>
        Сайт не позиционирует себя как единственно правильный вариант написания кода и существует с целью базового
        ознакомления с ключевыми элементами в языках программирования. Цель - на пальцах рассказать о необходимых
        базовых аспектах, чтобы вы смогли разобраться!
    </p>
    <p>
        Желаю вам удачи в изучении материала <3
    </p>
{% endblock %}